Repository enarx/enarx, changes with the labels that .github/labeler.yml gives for each.
All labels: github, helper, technolgy/sev, technolgy/sgx, technology/wasm, src, backend, cli, protobuf, workldr, tests/bin, tests/common, tests/wasm

Fix a clippy warning
  internal/shim-sgx/src/handler/enarx.rs
Labels: technolgy/sgx

Add @wgwoods to CODEOWNERS
  .github/CODEOWNERS
Labels: github

Fix a clippy warning
  internal/shim-sgx/src/handler/enarx.rs
Labels: technolgy/sgx

Add @wgwoods to CODEOWNERS
  .github/CODEOWNERS
Labels: github

Tell rust-analyzer vscode plugin about our crate layout
  .vscode/settings.json
Labels: none

Tell rust-analyzer vscode plugin about our crate layout
  .vscode/settings.json
Labels: none

Line-buffer the trace output
  internal/shim-sgx/src/handler/mod.rs
Labels: technolgy/sgx

Output the unsupported opcode in hex
  internal/shim-sgx/src/handler/mod.rs
Labels: technolgy/sgx

fix: activate new asm features
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/main.rs
  internal/shim-sgx/src/main.rs
Labels: technolgy/sev, technolgy/sgx

fix(wasmldr): make zerooneone work
  internal/wasmldr/src/workload.rs
Labels: technology/wasm

fix: activate new asm features
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/main.rs
  internal/shim-sgx/src/main.rs
Labels: technolgy/sev, technolgy/sgx

fix(wasmldr): make zerooneone work
  internal/wasmldr/src/workload.rs
Labels: technology/wasm

fix(wasmldr): make zerooneone work
  internal/wasmldr/src/workload.rs
Labels: technology/wasm

fix: activate new asm features
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/main.rs
  internal/shim-sgx/src/main.rs
Labels: technolgy/sev, technolgy/sgx

fix(wasmldr): make zerooneone work
  internal/wasmldr/src/workload.rs
Labels: technology/wasm

fix: activate new asm features
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/main.rs
  internal/shim-sgx/src/main.rs
Labels: technolgy/sev, technolgy/sgx

Release 0.1.2
  Cargo.toml
Labels: none

feat: add Enarx gdb extensions
  crates/sallyport/src/syscall/enarx.rs
  crates/sallyport/src/syscall/mod.rs
Labels: none

fix: use `tempfile` crate
  Cargo.lock
  Cargo.toml
  tests/integration_tests.rs
Labels: none

fix(cargo-deny): add `--workspace` and licenses
  .github/workflows/lint.yml
  integration/sev_attestation/Cargo.toml
  integration/simple/Cargo.toml
Labels: github

fix: cargo update
  Cargo.lock
  internal/shim-sev/Cargo.lock
  internal/shim-sgx/Cargo.lock
Labels: technolgy/sev, technolgy/sgx

fix: use `tempfile` crate
  Cargo.lock
  Cargo.toml
  tests/integration_tests.rs
Labels: none

fix: cargo update
  Cargo.lock
  internal/shim-sev/Cargo.lock
  internal/shim-sgx/Cargo.lock
Labels: technolgy/sev, technolgy/sgx

fix(cargo-deny): add `--workspace` and licenses
  .github/workflows/lint.yml
  integration/sev_attestation/Cargo.toml
  integration/simple/Cargo.toml
Labels: github

Remove unused crates
  Cargo.lock
  Cargo.toml
  internal/shim-sev/Cargo.lock
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.toml
Labels: technolgy/sev, technolgy/sgx, technology/wasm

Remove unused crates
  Cargo.lock
  Cargo.toml
  internal/shim-sev/Cargo.lock
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.toml
Labels: technolgy/sev, technolgy/sgx, technology/wasm

fix: update kvm-ioctls
  Cargo.lock
  Cargo.toml
Labels: none

Update const-default and xsave
  Cargo.lock
  Cargo.toml
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sev/src/snp/cpuid_page.rs
  internal/shim-sev/src/snp/ghcb.rs
  internal/shim-sev/src/usermode.rs
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/shim-sgx/src/main.rs
  src/backend/sev/cpuid_page.rs
Labels: technolgy/sev, technolgy/sgx, src, backend

Update const-default and xsave
  Cargo.lock
  Cargo.toml
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sev/src/snp/cpuid_page.rs
  internal/shim-sev/src/snp/ghcb.rs
  internal/shim-sev/src/usermode.rs
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/shim-sgx/src/main.rs
  src/backend/sev/cpuid_page.rs
Labels: technolgy/sev, technolgy/sgx, src, backend

fix: update kvm-ioctls
  Cargo.lock
  Cargo.toml
Labels: none

feat(shim-sgx): add stack trace
  internal/shim-sgx/src/handler/mod.rs
  internal/shim-sgx/src/lib.rs
  internal/wasmldr/.cargo/config
Labels: technolgy/sgx, technology/wasm

feat(shim-sgx): add stack trace
  internal/shim-sgx/src/handler/mod.rs
  internal/shim-sgx/src/lib.rs
  internal/wasmldr/.cargo/config
Labels: technolgy/sgx, technology/wasm

feat: add `dbg` feature to enarx and internal crates
  Cargo.toml
  build.rs
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.toml
Labels: technolgy/sev, technolgy/sgx, technology/wasm

feat: add gdb feature
  .github/workflows/test.yml
  Cargo.toml
  build.rs
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.toml
  tests/integration_tests.rs
  tests/wasmldr_tests.rs
Labels: github, technolgy/sev, technolgy/sgx, technology/wasm

feat(shim-sgx): use dbg feature
  internal/shim-sgx/src/lib.rs
Labels: technolgy/sgx

feat(tests): use dbg feature
  tests/integration_tests.rs
Labels: none

feat(backend): add gdb support
  Cargo.lock
  Cargo.toml
  src/backend/kvm/thread.rs
  src/backend/mod.rs
  src/backend/sgx/config.rs
  src/backend/sgx/thread.rs
  src/cli/exec.rs
  src/cli/run.rs
  src/main.rs
Labels: src, backend, cli

feat(shim-sev): use dbg feature
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/gdt.rs
  internal/shim-sev/src/interrupts.rs
  internal/shim-sev/src/main.rs
  internal/shim-sev/src/print.rs
Labels: technolgy/sev

feat(shim-sev): add gdb support
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/gdb.rs
  internal/shim-sev/src/gdt.rs
  internal/shim-sev/src/interrupts.rs
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/payload.rs
  internal/shim-sev/src/syscall.rs
Labels: technolgy/sev

feat(shim-sgx): add gdb support
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/shim-sgx/src/entry.rs
  internal/shim-sgx/src/handler/gdb.rs
  internal/shim-sgx/src/handler/mod.rs
  internal/shim-sgx/src/lib.rs
  internal/shim-sgx/src/main.rs
Labels: technolgy/sgx

.github/labeler.yml:

github:
- .github/**/*

helper:
- helper/**/*

technolgy/sev:
- internal/shim-sev/**/*

technolgy/sgx:
- internal/shim-sgx/**/*

technology/wasm:
- internal/wasmldr/**/*

src:
- src/**/*

backend:
- src/backend/**/*

cli:
- src/cli/**/*

protobuf:
- src/protobuf/**/*

workldr:
- src/workldr/**/*

tests/bin:
- tests/bin/**/*

tests/common:
- tests/common/**/*

tests/wasm:
- tests/wasm/**/*
