Repository enarx/enarx, changes with the labels that .github/labeler.yml gives for each.
All labels: github, helper, technolgy/sev, technolgy/sgx, technology/wasm, src, backend, cli, protobuf, workldr, tests/bin, tests/common, tests/wasm

.github/labeler.yml:

github:
- .github/**/*

helper:
- helper/**/*

technolgy/sev:
- internal/shim-sev/**/*

technolgy/sgx:
- internal/shim-sgx/**/*

technology/wasm:
- internal/wasmldr/**/*

src:
- src/**/*

backend:
- src/backend/**/*

cli:
- src/cli/**/*

protobuf:
- src/protobuf/**/*

workldr:
- src/workldr/**/*

tests/bin:
- tests/bin/**/*

tests/common:
- tests/common/**/*

tests/wasm:
- tests/wasm/**/*

fix: add rust-toolchain.toml to `include`
  Cargo.toml
Labels: none

fix build.rs
  build.rs
Labels: none

fix: correct README for install
  README.md
  src/main.rs
Labels: src

fix: add rust-toolchain.toml to `include`
  Cargo.toml
Labels: none

fix build.rs
  build.rs
Labels: none

fix: correct README for install
  README.md
  src/main.rs
Labels: src

fix build.rs
  build.rs
Labels: none

fix: correct README for install
  README.md
  src/main.rs
Labels: src

fix: add rust-toolchain.toml to `include`
  Cargo.toml
Labels: none

fix: adapt CI for Cargo.tml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: github

Increase version to 0.1.1
  Cargo.lock
  Cargo.toml
Labels: none

fix: adapt CI for Cargo.tml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: github

fix: correct README for install
  README.md
  src/main.rs
Labels: src

Increase version to 0.1.1
  Cargo.lock
  Cargo.toml
Labels: none

fix build.rs
  build.rs
Labels: none

fix: add rust-toolchain.toml to `include`
  Cargo.toml
Labels: none

fix(shim-sev): do not print backtrace, if !TRACE
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/main.rs
Labels: technolgy/sev

feat(shim-sev): use sysretq for initial usermode switch
  internal/shim-sev/src/gdt.rs
  internal/shim-sev/src/usermode.rs
Labels: technolgy/sev

fix(shim-sev): better page fault debug output
  internal/shim-sev/src/interrupts.rs
Labels: technolgy/sev

fix(shim-sev): set actual GS base
  internal/shim-sev/src/gdt.rs
Labels: technolgy/sev

feat(shim-sev): indent syscall asm block
  internal/shim-sev/src/syscall.rs
Labels: technolgy/sev

feat(shim-sev): beautify interrupt assembler code
  internal/shim-sev/src/interrupts.rs
Labels: technolgy/sev

fix(shim-sgx): remove asm feature from sallyport dep
  internal/shim-sgx/Cargo.toml
Labels: technolgy/sgx

feat(shim-sev): re-organize snp/ghcb module
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/snp/ghcb.rs
Labels: technolgy/sev

fix(shim-sev): add the SEV-SNP get_attestation syscall
  Cargo.toml
  internal/shim-sev/src/attestation.rs
  internal/shim-sev/src/syscall.rs
  tests/bin/rust_sev_attestation.rs
  tests/bin/sev_get_att_quote.c
  tests/integration_tests.rs
Labels: technolgy/sev, tests/bin

Clarify `super::` vs `crate::` style import usage
  STYLE.md
Labels: none

feat(shim-sev): re-organize snp/ghcb module
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/snp/ghcb.rs
Labels: technolgy/sev

fix(shim-sev): add the SEV-SNP get_attestation syscall
  Cargo.toml
  internal/shim-sev/src/attestation.rs
  internal/shim-sev/src/syscall.rs
  tests/bin/rust_sev_attestation.rs
  tests/bin/sev_get_att_quote.c
  tests/integration_tests.rs
Labels: technolgy/sev, tests/bin

feat(integration): move out rust tests to crates
  Cargo.lock
  Cargo.toml
  build.rs
  helper/test-enarx.sh
  integration/sev_attestation/.cargo/config
  integration/sev_attestation/Cargo.toml
  integration/sev_attestation/rust-toolchain.toml
  integration/sev_attestation/src/main.rs
  integration/simple/.cargo/config
  integration/simple/Cargo.toml
  integration/simple/rust-toolchain.toml
  integration/simple/src/cpuid.rs
  integration/simple/src/echo.rs
  integration/simple/src/memory_stress_test.rs
  integration/simple/src/memspike.rs
  integration/simple/src/unix_echo.rs
  tests/common/mod.rs
  tests/integration_tests.rs
Labels: helper, tests/common

feat(integration): build wat lazily
  Cargo.toml
  build.rs
  tests/wasmldr_tests.rs
Labels: none

fix: remove sallyport from build-deps
  Cargo.toml
Labels: none

fix: remove tests from include
  Cargo.toml
Labels: none

fix: remove tests from include
  Cargo.toml
Labels: none

feat(integration): build wat lazily
  Cargo.toml
  build.rs
  tests/wasmldr_tests.rs
Labels: none

fix: remove sallyport from build-deps
  Cargo.toml
Labels: none

feat(integration): move out rust tests to crates
  Cargo.lock
  Cargo.toml
  build.rs
  helper/test-enarx.sh
  integration/sev_attestation/.cargo/config
  integration/sev_attestation/Cargo.toml
  integration/sev_attestation/rust-toolchain.toml
  integration/sev_attestation/src/main.rs
  integration/simple/.cargo/config
  integration/simple/Cargo.toml
  integration/simple/rust-toolchain.toml
  integration/simple/src/cpuid.rs
  integration/simple/src/echo.rs
  integration/simple/src/memory_stress_test.rs
  integration/simple/src/memspike.rs
  integration/simple/src/unix_echo.rs
  tests/common/mod.rs
  tests/integration_tests.rs
Labels: helper, tests/common

Clean up assembly in sev_attestation
  Cargo.lock
  integration/sev_attestation/Cargo.toml
  integration/sev_attestation/src/main.rs
Labels: none

Fake enough of SGX attestation to make tests pass
  internal/shim-sgx/src/handler/enarx.rs
Labels: technolgy/sgx

Clean up assembly in sev_attestation
  Cargo.lock
  integration/sev_attestation/Cargo.toml
  integration/sev_attestation/src/main.rs
Labels: none

Fake enough of SGX attestation to make tests pass
  internal/shim-sgx/src/handler/enarx.rs
Labels: technolgy/sgx
