Repository enarx/enarx, changes with the labels that .github/labeler.yml gives for each.
All labels: github, helper, technolgy/sev, technolgy/sgx, technology/wasm, src, backend, cli, protobuf, workldr, tests/bin, tests/common, tests/wasm

.github/labeler.yml:

github:
- .github/**/*

helper:
- helper/**/*

technolgy/sev:
- internal/shim-sev/**/*

technolgy/sgx:
- internal/shim-sgx/**/*

technology/wasm:
- internal/wasmldr/**/*

src:
- src/**/*

backend:
- src/backend/**/*

cli:
- src/cli/**/*

protobuf:
- src/protobuf/**/*

workldr:
- src/workldr/**/*

tests/bin:
- tests/bin/**/*

tests/common:
- tests/common/**/*

tests/wasm:
- tests/wasm/**/*

fix: rename "payload" to "exec"
  helper/parse-trace.sh
  internal/shim-sev/src/allocator.rs
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/exec.rs
  internal/shim-sev/src/gdb.rs
  internal/shim-sev/src/gdt.rs
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/main.rs
  internal/shim-sev/src/syscall.rs
  internal/shim-sgx/src/entry.rs
  internal/shim-sgx/src/handler/gdb.rs
  internal/shim-sgx/src/handler/mod.rs
Labels: helper, technolgy/sev, technolgy/sgx

feat: extend README-DEBUG.md with gdb
  README-DEBUG.md
Labels: none

feat: add `dbg` feature to enarx and internal crates
  Cargo.toml
  build.rs
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.toml
Labels: technolgy/sev, technolgy/sgx, technology/wasm

feat(backend): add gdb support
  Cargo.lock
  Cargo.toml
  src/backend/kvm/thread.rs
  src/backend/mod.rs
  src/backend/sgx/config.rs
  src/backend/sgx/thread.rs
  src/cli/exec.rs
  src/cli/run.rs
  src/main.rs
Labels: src, backend, cli

feat(shim-sev): use dbg feature
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/gdt.rs
  internal/shim-sev/src/interrupts.rs
  internal/shim-sev/src/main.rs
  internal/shim-sev/src/print.rs
Labels: technolgy/sev

feat(tests): use dbg feature
  tests/integration_tests.rs
Labels: none

feat(shim-sev): add gdb support
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/gdb.rs
  internal/shim-sev/src/gdt.rs
  internal/shim-sev/src/interrupts.rs
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/payload.rs
  internal/shim-sev/src/syscall.rs
Labels: technolgy/sev

feat(shim-sgx): add gdb support
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/shim-sgx/src/entry.rs
  internal/shim-sgx/src/handler/gdb.rs
  internal/shim-sgx/src/handler/mod.rs
  internal/shim-sgx/src/lib.rs
  internal/shim-sgx/src/main.rs
Labels: technolgy/sgx

feat: add gdb feature
  .github/workflows/test.yml
  Cargo.toml
  build.rs
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.toml
  tests/integration_tests.rs
  tests/wasmldr_tests.rs
Labels: github, technolgy/sev, technolgy/sgx, technology/wasm

fix: rename "payload" to "exec"
  helper/parse-trace.sh
  internal/shim-sev/src/allocator.rs
  internal/shim-sev/src/debug.rs
  internal/shim-sev/src/exec.rs
  internal/shim-sev/src/gdb.rs
  internal/shim-sev/src/gdt.rs
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/main.rs
  internal/shim-sev/src/syscall.rs
  internal/shim-sgx/src/entry.rs
  internal/shim-sgx/src/handler/gdb.rs
  internal/shim-sgx/src/handler/mod.rs
Labels: helper, technolgy/sev, technolgy/sgx

feat(shim-sgx): use dbg feature
  internal/shim-sgx/src/lib.rs
Labels: technolgy/sgx

feat: extend README-DEBUG.md with gdb
  README-DEBUG.md
Labels: none

fix(shim-sev): beautify startup assembly
  internal/shim-sev/src/main.rs
Labels: technolgy/sev

fix: add more code documentation
  internal/shim-sev/src/gdb.rs
  internal/shim-sev/src/snp/secrets_page.rs
  internal/shim-sev/src/syscall.rs
  internal/shim-sgx/src/handler/gdb.rs
  src/backend/sev/builder.rs
  src/backend/sev/cpuid_page.rs
Labels: technolgy/sev, technolgy/sgx, src, backend

fix: add more code documentation
  internal/shim-sev/src/gdb.rs
  internal/shim-sev/src/snp/secrets_page.rs
  internal/shim-sev/src/syscall.rs
  internal/shim-sgx/src/handler/gdb.rs
  src/backend/sev/builder.rs
  src/backend/sev/cpuid_page.rs
Labels: technolgy/sev, technolgy/sgx, src, backend

feat(shim-sev): get rid of paste! macro
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sev/src/interrupts.rs
Labels: technolgy/sev

feat(shim-sev): get rid of paste! macro
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sev/src/interrupts.rs
Labels: technolgy/sev

fix(shim-sev): beautify startup assembly
  internal/shim-sev/src/main.rs
Labels: technolgy/sev

fix(shim-sev): guard custom panic with "not(test)"
  internal/shim-sev/src/main.rs
Labels: technolgy/sev

fix(shim-sev): guard custom panic with "not(test)"
  internal/shim-sev/src/main.rs
Labels: technolgy/sev

Update to sgx 0.3.0
  Cargo.lock
  Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
Labels: technolgy/sgx

Update Cargo.lock
  Cargo.lock
  internal/shim-sev/Cargo.lock
  internal/shim-sgx/Cargo.lock
  internal/wasmldr/Cargo.lock
Labels: technolgy/sev, technolgy/sgx, technology/wasm

Add trace logging to enclave creation
  src/backend/sgx/builder.rs
  src/backend/sgx/config.rs
Labels: src, backend

Parallelize tests
  tests/common/mod.rs
  tests/integration_tests.rs
  tests/wasmldr_tests.rs
Labels: tests/common

Add SGX2 ioctls
  src/backend/sgx/ioctls.rs
Labels: src, backend

Update to sgx 0.3.0
  Cargo.lock
  Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
Labels: technolgy/sgx

Add SGX2 ioctls
  src/backend/sgx/ioctls.rs
Labels: src, backend

Parallelize tests
  tests/common/mod.rs
  tests/integration_tests.rs
  tests/wasmldr_tests.rs
Labels: tests/common

Update Cargo.lock
  Cargo.lock
  internal/shim-sev/Cargo.lock
  internal/shim-sgx/Cargo.lock
  internal/wasmldr/Cargo.lock
Labels: technolgy/sev, technolgy/sgx, technology/wasm

Add trace logging to enclave creation
  src/backend/sgx/builder.rs
  src/backend/sgx/config.rs
Labels: src, backend

fix: update dependencies
  Cargo.lock
  Cargo.toml
  integration/sev_attestation/Cargo.toml
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.lock
  src/cli/sev.rs
Labels: technolgy/sev, technolgy/sgx, technology/wasm, src, cli

ci(deny): add clarification for encoding_rs
  deny.toml
Labels: none

fix: set edition to 2021
  Cargo.toml
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.toml
Labels: technolgy/sev, technolgy/sgx, technology/wasm

fix: set edition to 2021
  Cargo.toml
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.toml
Labels: technolgy/sev, technolgy/sgx, technology/wasm

fix: update dependencies
  Cargo.lock
  Cargo.toml
  integration/sev_attestation/Cargo.toml
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/wasmldr/Cargo.lock
  src/cli/sev.rs
Labels: technolgy/sev, technolgy/sgx, technology/wasm, src, cli

ci(deny): add clarification for encoding_rs
  deny.toml
Labels: none

fix: cargo fix --edition-idioms
  internal/shim-sev/src/allocator.rs
  internal/shim-sev/src/gdb.rs
  internal/shim-sev/src/interrupts.rs
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/main.rs
  internal/shim-sev/src/print.rs
  internal/shim-sev/src/spin.rs
  internal/shim-sev/src/syscall.rs
  internal/shim-sgx/src/handler/base.rs
  internal/shim-sgx/src/handler/enarx.rs
  internal/shim-sgx/src/handler/file.rs
  internal/shim-sgx/src/handler/gdb.rs
  internal/shim-sgx/src/handler/memory.rs
  internal/shim-sgx/src/lib.rs
  internal/shim-sgx/src/main.rs
  internal/wasmldr/src/main.rs
  src/backend/binary.rs
  src/backend/kvm/config.rs
  src/backend/kvm/thread.rs
  src/backend/mod.rs
  src/backend/sev/snp/firmware/linux.rs
  src/backend/sev/snp/firmware/mod.rs
  src/backend/sev/snp/launch/linux.rs
  src/backend/sev/snp/launch/mod.rs
  src/backend/sev/snp/mod.rs
  src/backend/sgx/config.rs
  src/backend/sgx/ioctls.rs
  src/backend/sgx/thread.rs
  src/main.rs
Labels: technolgy/sev, technolgy/sgx, technology/wasm, src, backend

build(deps): update vdso
  Cargo.lock
  Cargo.toml
Labels: none

build(deps): update vdso
  Cargo.lock
  Cargo.toml
Labels: none

Silence some clippy warnings
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/snp/ghcb.rs
  internal/shim-sgx/src/heap.rs
  internal/wasmldr/src/workload.rs
  tests/common/mod.rs
  tests/integration_tests.rs
Labels: technolgy/sev, technolgy/sgx, technology/wasm, tests/common
