Repository enarx/enarx, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, backend, kvm, amd sev, intel sgx, wasm, client, testing

test: add a test for `clock_gettime`
  crates/sallyport/tests/integration_tests/syscall.rs
Labels: none

feat: add support for `clock_getres`
  crates/sallyport/src/guest/call/syscall/clock_getres.rs
  crates/sallyport/src/guest/call/syscall/mod.rs
  crates/sallyport/src/guest/handler.rs
  crates/sallyport/src/host/syscall.rs
  crates/sallyport/src/libc.rs
  crates/sallyport/tests/integration_tests/syscall.rs
Labels: none

build(deps): add `extra_traits` for `libc`
  crates/sallyport/Cargo.toml
Labels: none

test: use upstream `libc` struct definitions
  crates/sallyport/tests/integration_tests/syscall.rs
Labels: none

ci: disable sgx testing, if host can't test
  tests/c_integration_tests.rs
Labels: testing

build(deps): use latest versions within minor
  crates/sallyport/Cargo.toml
Labels: none

ci: disable sgx testing, if host can't test
  tests/c_integration_tests.rs
Labels: testing

feat: add clock_getres syscall
  Cargo.lock
  Cargo.toml
  internal/shim-kvm/Cargo.lock
  internal/shim-kvm/Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  tests/sev_attestation/Cargo.toml
Labels: kvm, amd sev, intel sgx, testing

feat: add clock_getres syscall
  Cargo.lock
  Cargo.toml
  internal/shim-kvm/Cargo.lock
  internal/shim-kvm/Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  tests/sev_attestation/Cargo.toml
Labels: kvm, amd sev, intel sgx, testing

.github/labeler.yml:

infrastructure:
- .github/**/*
- helper/**/*

backend:
- src/backend/**/*

kvm:
- internal/shim-kvm/**/*
- src/backend/kvm/**/*

amd sev:
- internal/shim-kvm/**/*
- src/backend/sev/**/*

intel sgx:
- internal/shim-sgx/**/*
- src/backend/sgx/**/*

wasm:
- src/bin/wasmldr/**/*
- tests/wasm/**/*
- tests/wasmldr_tests.rs

client:
- src/cli/**/*

testing:
- tests/**/*
