Repository enarx/enarx, changes with the labels that .github/labeler.yml gives for each.
All labels: github, helper, technolgy/sev, technolgy/sgx, technology/wasm, src, backend, cli, protobuf, workldr, tests/bin, tests/common, tests/wasm

Silence some clippy warnings
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/snp/ghcb.rs
  internal/shim-sgx/src/heap.rs
  internal/wasmldr/src/workload.rs
  tests/common/mod.rs
  tests/integration_tests.rs
Labels: technolgy/sev, technolgy/sgx, technology/wasm, tests/common

Pick up the latest primordial
  crates/sallyport/Cargo.toml
Labels: none

fix: cargo fix --edition-idioms
  internal/shim-sev/src/allocator.rs
  internal/shim-sev/src/gdb.rs
  internal/shim-sev/src/interrupts.rs
  internal/shim-sev/src/lib.rs
  internal/shim-sev/src/main.rs
  internal/shim-sev/src/print.rs
  internal/shim-sev/src/spin.rs
  internal/shim-sev/src/syscall.rs
  internal/shim-sgx/src/handler/base.rs
  internal/shim-sgx/src/handler/enarx.rs
  internal/shim-sgx/src/handler/file.rs
  internal/shim-sgx/src/handler/gdb.rs
  internal/shim-sgx/src/handler/memory.rs
  internal/shim-sgx/src/lib.rs
  internal/shim-sgx/src/main.rs
  internal/wasmldr/src/main.rs
  src/backend/binary.rs
  src/backend/kvm/config.rs
  src/backend/kvm/thread.rs
  src/backend/mod.rs
  src/backend/sev/snp/firmware/linux.rs
  src/backend/sev/snp/firmware/mod.rs
  src/backend/sev/snp/launch/linux.rs
  src/backend/sev/snp/launch/mod.rs
  src/backend/sev/snp/mod.rs
  src/backend/sgx/config.rs
  src/backend/sgx/ioctls.rs
  src/backend/sgx/thread.rs
  src/main.rs
Labels: technolgy/sev, technolgy/sgx, technology/wasm, src, backend

Bump primordial dependency
  Cargo.lock
  Cargo.toml
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
Labels: technolgy/sev, technolgy/sgx

Do a cargo update
  Cargo.lock
  internal/shim-sgx/Cargo.lock
  internal/wasmldr/Cargo.lock
Labels: technolgy/sgx, technology/wasm

Rework the existing heap implementation
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/shim-sgx/layout.ld
  internal/shim-sgx/src/handler/gdb.rs
  internal/shim-sgx/src/handler/memory.rs
  internal/shim-sgx/src/handler/mod.rs
  internal/shim-sgx/src/heap.rs
  internal/shim-sgx/src/lib.rs
  internal/shim-sgx/src/main.rs
Labels: technolgy/sgx

.github/labeler.yml:

github:
- .github/**/*

helper:
- helper/**/*

technolgy/sev:
- internal/shim-sev/**/*

technolgy/sgx:
- internal/shim-sgx/**/*

technology/wasm:
- internal/wasmldr/**/*

src:
- src/**/*

backend:
- src/backend/**/*

cli:
- src/cli/**/*

protobuf:
- src/protobuf/**/*

workldr:
- src/workldr/**/*

tests/bin:
- tests/bin/**/*

tests/common:
- tests/common/**/*

tests/wasm:
- tests/wasm/**/*
