Repository enarx/enarx, pull requests merged in 2020-01, with the labels that each got.

#69 Use .unwrap() in tests instead of assert!(.is_ok())
  sgx-sys/src/lib.rs
Labels: technology/sgx

#64 Update for the Kernel v24 interfaces
  sgx-sys/src/ioctl/sgx.rs
Labels: technology/sgx

#70 Remove use of sgx-traits from sgx-hasher
  Cargo.lock
  sgx-hasher/Cargo.toml
  sgx-hasher/src/lib.rs
Labels: technology/sgx

#96 Speed up Travis tests by splitting cargo audit into its own task
  .travis.yml
Labels: infrastructure

#71 Merge sev repo into the enarx repo
  sev/.gitignore
  sev/.travis.yml
  sev/Cargo.toml
  sev/LICENSE
  sev/build.rs
  sev/src/certs/ca/cert/mod.rs
  sev/src/certs/ca/cert/v1.rs
  sev/src/certs/ca/chain.rs
  sev/src/certs/ca/mod.rs
  sev/src/certs/chain.rs
  sev/src/certs/crypto.rs
  sev/src/certs/mod.rs
  sev/src/certs/sev/cert/mod.rs
  sev/src/certs/sev/cert/v1/algo.rs
  sev/src/certs/sev/cert/v1/body/key/ecc/group.rs
  sev/src/certs/sev/cert/v1/body/key/ecc/mod.rs
  sev/src/certs/sev/cert/v1/body/key/mod.rs
  sev/src/certs/sev/cert/v1/body/key/rsa.rs
  sev/src/certs/sev/cert/v1/body/mod.rs
  sev/src/certs/sev/cert/v1/mod.rs
  sev/src/certs/sev/cert/v1/sig/ecdsa.rs
  sev/src/certs/sev/cert/v1/sig/mod.rs
  sev/src/certs/sev/cert/v1/sig/rsa.rs
  sev/src/certs/sev/chain.rs
  sev/src/certs/sev/mod.rs
  sev/src/certs/util.rs
  sev/src/firmware/linux.rs
  sev/src/firmware/mod.rs
  sev/src/launch.rs
  sev/src/lib.rs
  sev/src/session/key.rs
  sev/src/session/mod.rs
  sev/tests/api.rs
  sev/tests/certs.rs
  sev/tests/naples/ark.cert
  sev/tests/naples/ark.cert.bad
  sev/tests/naples/ark.cert.sig
  sev/tests/naples/ark.rs
  sev/tests/naples/ask.cert
  sev/tests/naples/ask.rs
  sev/tests/naples/cek.cert
  sev/tests/naples/cek.rs
  sev/tests/naples/mod.rs
  sev/tests/naples/oca.cert
  sev/tests/naples/oca.rs
  sev/tests/naples/pdh.cert
  sev/tests/naples/pdh.rs
  sev/tests/naples/pek.cert
  sev/tests/naples/pek.rs
  sev/tests/session.rs
Labels: technology/sev

#109 Add `sev` to the enarx workspace
  Cargo.lock
  Cargo.toml
Labels: technology/sev

#111 Roll `sev` Travis tests into the main test suite
  .travis.yml
  sev/.travis.yml
Labels: infrastructure, technology/sev

#121 Add documentation for SGX in sgx-crypto and sgx-types.
  sgx-crypto/src/lib.rs
  sgx-types/src/attr.rs
  sgx-types/src/isv.rs
  sgx-types/src/lib.rs
  sgx-types/src/misc.rs
  sgx-types/src/page.rs
  sgx-types/src/secs.rs
  sgx-types/src/sig.rs
  sgx-types/src/ssa.rs
  sgx-types/src/tcs.rs
Labels: technology/sgx

#123 add linux-syscall and linux-errno crate
  Cargo.lock
  Cargo.toml
  linux-errno/Cargo.toml
  linux-errno/LICENSE
  linux-errno/src/lib.rs
  linux-errno/src/x86_64.rs
  linux-syscall/Cargo.toml
  linux-syscall/LICENSE
  linux-syscall/src/lib.rs
  linux-syscall/src/x86_64.rs
Labels: technology/sev, technology/sgx

#106 Add conference issue template
  .github/ISSUE_TEMPLATE/conferences.md
Labels: infrastructure

#145 Update CONTRIBUTING.md to point to the How to contribute page
  CONTRIBUTING.md
Labels: documentation, infrastructure

#150 Implement Travis tests as git pre-push hooks
  .travis.yml
  hooks/pre-push
  hooks/pre-push.d/cargo-audit
  hooks/pre-push.d/cargo-fmt
  hooks/pre-push.d/cargo-test
Labels: infrastructure

#156 Implement issue templates for "Tech" and "Questions"
  .github/ISSUE_TEMPLATE/conferences.md
  .github/ISSUE_TEMPLATE/questions.md
  .github/ISSUE_TEMPLATE/technical.md
Labels: infrastructure

#149 Query CPUID to get enclave max size in sgx-types/src/secs.rs
  iocuddle-sgx/src/lib.rs
  sgx-types/src/secs.rs
Labels: technology/sgx

#146 Add General Protection Fault case in sgx-types/src/ssa.rs
  sgx-types/src/ssa.rs
Labels: technology/sgx

#40 add vmsyscall crate
  Cargo.lock
  Cargo.toml
  vmsyscall/Cargo.toml
  vmsyscall/LICENSE
  vmsyscall/src/lib.rs
Labels: technology/sev

#168 Throw away the top-level workspace
  .cargo/config
  .gitignore
  Cargo.lock
  Cargo.toml
  hooks/pre-push.d/cargo-audit
  hooks/pre-push.d/cargo-fmt
  hooks/pre-push.d/cargo-test
  iocuddle-sgx/Cargo.toml
  sev/Cargo.toml
  sgx-crypto/Cargo.toml
Labels: infrastructure

#154 Update README using the one from the enarx.github.io repo
  README.md
Labels: documentation

#167 Add Targetinfo struct to sgx-types
  sgx-types/src/lib.rs
  sgx-types/src/ti.rs
Labels: technology/sgx
