Repository enarx/enarx, pull requests merged in 2020-06, with the labels that each got.

#573 Move Enarx dev/test containers to main repo
  containers/fedora-test/Dockerfile
  containers/fedora/Dockerfile
Labels: infrastructure

#589 Fix broken container images
  containers/fedora-test/Dockerfile
  containers/fedora/Dockerfile
Labels: infrastructure

#594 Consolidate development and testing containers
  containers/fedora-test/Dockerfile
  containers/fedora/Dockerfile
Labels: infrastructure

#596 Install diff in dev/test container
  containers/fedora/Dockerfile
Labels: infrastructure

#595 Update tests to use merged Enarx dev container
  .github/workflows/automation-label.yml
  .github/workflows/automation-pr.yml
  .github/workflows/cargo.yml
  .github/workflows/miscellaneous.yml
Labels: infrastructure

#591 Add running SGX payload to test suite
  Makefile.toml
  integration-tests/Cargo.toml
  integration-tests/LICENSE
  integration-tests/Makefile.toml
  integration-tests/build.rs
  integration-tests/src/main.rs
  integration-tests/tests/sgx_payload.rs
Labels: debt, enhancement, intel sgx

#588 sevctl: better output for `verify`
  sevctl/src/main.rs
Labels: amd sev

#616 Fix a crasher
  enarx-keep-sgx-shim/src/entry.rs
  enarx-keep-sgx-shim/src/start.S
Labels: bug, debt, intel sgx

#619 Simplify SIGSTRUCT
  enarx-keep-sgx/src/builder.rs
  iocuddle-sgx/src/lib.rs
  sgx-types/src/sig.rs
Labels: intel sgx

#516 Implement PLATFORM_STATUS as an iocuddle ioctl
  sev/Cargo.toml
  sev/src/firmware/linux/ioctl.rs
  sev/src/firmware/linux/mod.rs
  sev/src/firmware/mod.rs
  sev/src/firmware/types.rs
  sev/tests/api.rs
Labels: amd sev

#621 Fix SGX syscalls readv/writev
  enarx-keep-sgx-shim/src/handler.rs
Labels: bug, intel sgx

#622 Remove TODO that has been fixed in handler.rs
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#623 Implement core::fmt::Write for Handler
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
  enarx-keep-sgx-shim/src/main.rs
Labels: enhancement, intel sgx

#613 Add crt0 stack alignment test
  crt0stack/src/lib.rs
Labels: amd sev, intel sgx

#542 enarx-keep-sev-shim: implement basic host <-> shim communication
  enarx-keep-sev-shim/Cargo.toml
  enarx-keep-sev-shim/asm/utils.s
  enarx-keep-sev-shim/build.rs
  enarx-keep-sev-shim/src/addr.rs
  enarx-keep-sev-shim/src/asm.rs
  enarx-keep-sev-shim/src/asm.s
  enarx-keep-sev-shim/src/hostcall.rs
  enarx-keep-sev-shim/src/lib.rs
  enarx-keep-sev-shim/src/main.rs
  enarx-keep-sev-shim/src/no_std.rs
  enarx-keep-sev-shim/src/print.rs
  enarx-keep-sev-shim/src/rcrt1.c
  enarx-keep-sev-shim/src/start.S
  memory/src/address.rs
Labels: amd sev

#631 use mmap to load ELF file for parsing
  enarx-keep-sgx/src/component.rs
Labels: intel sgx

#634 enarx-keep-sev-shim: fix const `ALIGN_SECTION` for release
  enarx-keep-sev-shim/src/lib.rs
Labels: amd sev

#638 sev-shim: setup the GDT
  enarx-keep-sev-shim/src/gdt.rs
  enarx-keep-sev-shim/src/main.rs
  enarx-keep-sev-shim/src/syscall.S
  enarx-keep-sev-shim/src/syscall.rs
  enarx-keep-sev-shim/src/usermode.S
  enarx-keep-sev-shim/src/usermode.rs
Labels: amd sev

#643 Removed unnecessary .gitignore in sev
  sev/.gitignore
Labels: amd sev

#629 Use cargo-make global envs as root dir instead of git root directory
  Makefile.toml
Labels: infrastructure

#644 Renamed span crate to bounds.
  Makefile.toml
  bounds/Cargo.toml
  bounds/LICENSE
  bounds/src/lib.rs
  bounds/src/line.rs
  bounds/src/span.rs
  enarx-keep-sev-shim/Cargo.toml
  enarx-keep-sev-shim/src/lib.rs
  enarx-keep-sev/Cargo.toml
  enarx-keep-sev/src/vm/builder.rs
  enarx-keep-sev/src/vm/mem.rs
  enarx-keep-sgx-shim/Cargo.toml
  enarx-keep-sgx-shim/src/handler.rs
  enarx-keep-sgx-shim/src/heap.rs
  enarx-keep-sgx-shim/src/main.rs
  enarx-keep-sgx/Cargo.toml
  enarx-keep-sgx/src/builder.rs
  enarx-keep-sgx/src/layout.rs
  enarx-keep-sgx/src/main.rs
  iocuddle-sgx/Cargo.toml
  iocuddle-sgx/src/lib.rs
  loader/Cargo.toml
  loader/src/lib.rs
  loader/src/segment.rs
  mmap/Cargo.toml
  mmap/src/lib.rs
  sgx-types/Cargo.toml
  sgx-types/src/secs.rs
Labels: amd sev

#607 Inform users of `cargo make` when `cargo build/test` is used
  Cargo.toml
  build.rs
  src/main.rs
Labels: infrastructure
