Repository enarx/enarx, pull requests merged in 2020-02, with the labels that each got.

#188 Remove generic from SSA
  sgx-types/src/ssa.rs
Labels: intel sgx

#163 Test for newlines at end of all *.rs and *.toml files
  hooks/pre-push.d/eof-newline-test
Labels: infrastructure

#210 Test all Cargo.toml files for edition = "2018"
  .travis.yml
  hooks/pre-push.d/cargo-edition-test
Labels: infrastructure

#215 Mark secs::Spec::max_enc_size() as safe
  iocuddle-sgx/src/lib.rs
  sgx-types/src/secs.rs
Labels: intel sgx

#209 Measure SSA frame size in 4k pages
  sgx-types/src/secs.rs
  sgx-types/src/ssa.rs
Labels: intel sgx

#220 Improve the per-crate license test
  hooks/pre-push.d/crate-license-test
Labels: infrastructure

#225 Implement Default for StateSaveArea
  intel-types/src/lib.rs
  sgx-types/src/ssa.rs
Labels: intel sgx

#230 Replace LICENSE files w/ Github-provided version
  LICENSE
  enarx-keepmgr/LICENSE
  intel-types/LICENSE
  iocuddle-sgx/LICENSE
  iocuddle/LICENSE
  linux-errno/LICENSE
  linux-syscall/LICENSE
  sev/LICENSE
  sgx-crypto/LICENSE
  sgx-show/LICENSE
  sgx-types/LICENSE
  testing/LICENSE
  vmsyscall/LICENSE
Labels: infrastructure

#238 Long live the workspace!
  .cargo/config
  Cargo.toml
  hooks/pre-push.d/cargo-audit
  hooks/pre-push.d/cargo-clippy
  hooks/pre-push.d/cargo-edition-test
  hooks/pre-push.d/cargo-fmt
  hooks/pre-push.d/cargo-test
  hooks/pre-push.d/toml-license-field-test
  iocuddle-sgx/Cargo.toml
  sev/Cargo.toml
  sgx-crypto/Cargo.toml
Labels: amd sev, infrastructure, intel sgx

#229 Enable and sanity-check Github Actions
  .github/workflows/enarx-standard.yml
Labels: infrastructure

#231 Implement a template for meta issues
  .github/ISSUE_TEMPLATE/meta.md
Labels: infrastructure

#236 Add report module to sgx-types
  sgx-types/src/lib.rs
  sgx-types/src/report.rs
Labels: intel sgx

#249 Add some basic docs for AMD and IBM attestation
  docs/attestation/Makefile
  docs/attestation/README.md
  docs/attestation/amd/sev/certchain.dot
  docs/attestation/amd/sev/certchain.dot.png
  docs/attestation/amd/sev/process.msc
  docs/attestation/amd/sev/process.msc.png
  docs/attestation/ibm/pef/certchain.dot
  docs/attestation/ibm/pef/certchain.dot.png
  docs/attestation/ibm/pef/process.msc
  docs/attestation/ibm/pef/process.msc.png
Labels: documentation

#255 Add bitflags for Gpr::rflags
  intel-types/src/lib.rs
  sgx-types/src/ssa.rs
Labels: intel sgx

#247 Implement Rust testing in a container on Github Actions
  .github/workflows/enarx-rust.yml
  hooks/pre-push.d/cargo-fmt
  hooks/pre-push.d/cargo-test
Labels: infrastructure

#258 .gitignore: add .idea directories
  .gitignore
Labels: infrastructure

#257 Fix shell scripts
  hooks/pre-push
  hooks/pre-push.d/cargo-edition-test
  hooks/pre-push.d/crate-license-test
  hooks/pre-push.d/eof-newline-test
  hooks/pre-push.d/rs-spdx-license-test
  hooks/pre-push.d/toml-license-field-test
Labels: infrastructure

#259 README.md: remove explicit list of AUTHORS
  README.md
Labels: documentation

#260 hooks/pre-push: ignore all target directories
  hooks/pre-push.d/eof-newline-test
  hooks/pre-push.d/rs-spdx-license-test
Labels: bug, infrastructure

#262 Migrate cargo-audit testing to GH Actions
  .github/workflows/enarx-rust.yml
  .travis.yml
  hooks/pre-push.d/cargo-audit
Labels: infrastructure

#263 Run cargo test with SEV-specific features
  .github/workflows/enarx-rust.yml
  .travis.yml
Labels: infrastructure

#264 Migrate Cargo.toml testing to GH Actions
  .github/workflows/enarx-standard.yml
  .tests/cargo-edition
  .tests/toml-license-field
  .travis.yml
Labels: infrastructure

#265 Bump actions/checkout to v2
  .github/workflows/enarx-rust.yml
  .github/workflows/enarx-standard.yml
Labels: infrastructure

#267 Migrate rust-clippy test to GH Actions
  .github/workflows/enarx-rust.yml
  .travis.yml
  hooks/pre-push.d/cargo-clippy
Labels: infrastructure

#268 Migrate license tests to GH Actions
  .github/workflows/enarx-licensing.yml
  .github/workflows/enarx-standard.yml
  .tests/crate-license
  .tests/rs-spdx-license
Labels: infrastructure

#269 Migrate EOF newline test to GH Actions
  .github/workflows/enarx-standard.yml
  .tests/eof-newline
Labels: infrastructure

#272 Remove pre-push hooks and disable Travis
  .travis.yml
  hooks/pre-push
Labels: infrastructure

#275 Tidy up test names and descriptions
  .github/workflows/cargo.yml
  .github/workflows/enarx-licensing.yml
  .github/workflows/enarx-standard.yml
  .github/workflows/miscellaneous.yml
  .tests/cargo-toml-package-edition
  .tests/cargo-toml-package-license
  .tests/misc-eof
  .tests/misc-licenses-crate
  .tests/misc-licenses-rs-spdx
Labels: infrastructure

#277 Don't run tests on containers when not necessary
  .github/workflows/miscellaneous.yml
Labels: infrastructure

#286 Update meta template w/ guidance on emoji tags
  .github/ISSUE_TEMPLATE/meta.md
Labels: infrastructure

#278 Ensure diagrams are always up-to-date
  .github/workflows/miscellaneous.yml
  .tests/misc-diagrams
  docs/attestation/Makefile
Labels: documentation, infrastructure

#152 add crt0stack crate
  Cargo.toml
  crt0stack/Cargo.toml
  crt0stack/LICENSE
  crt0stack/examples/example.rs
  crt0stack/src/auxv.rs
  crt0stack/src/lib.rs
Labels: amd sev, intel sgx

#287 Test for SPDX ID headers in assembly files
  .github/workflows/miscellaneous.yml
  .tests/misc-licenses-asm-spdx
Labels: infrastructure
