Repository enarx/enarx, pull requests merged in 2020-05, with the labels that each got.

#484 Better error handling for project automation bot
  .automation/add-to-project-when-labeled
Labels: infrastructure

#493 Rename vmsyscall to enarx-keep-sev-lib
  Makefile.toml
  enarx-keep-sev-lib/Cargo.toml
  enarx-keep-sev-lib/LICENSE
  enarx-keep-sev-lib/src/lib.rs
Labels: amd sev

#507 Port SGX to work on upstream patchset v29
  enarx-keep-sgx/src/builder.rs
  enarx-keep-sgx/src/enclave.S
  enarx-keep-sgx/src/enclave.rs
Labels: intel sgx

#510 sev/src/firmware/linux.rs: open("/dev/sev") RW
  sev/src/firmware/linux.rs
Labels: amd sev

#429 cc: add a specific rlib from the target directory
  cc
Labels: amd sev, intel sgx

#490 Instruction Pattern Match Constants
  enarx-keep-sgx-shim/src/event.rs
Labels: intel sgx

#494 Introduce minimal messaging interface between keep and shim
  Makefile.toml
  enarx-keep-sev-lib/src/lib.rs
  sallyport/Cargo.toml
  sallyport/LICENSE
  sallyport/README.md
  sallyport/src/lib.rs
Labels: amd sev

#432 Introduce enarx-keep-sev
  Makefile.toml
  enarx-keep-sev/Cargo.toml
  enarx-keep-sev/LICENSE
  enarx-keep-sev/src/main.rs
Labels: amd sev

#523 Use a private, anonymous mapping per LKML advice
  enarx-keep-sgx/src/builder.rs
Labels: intel sgx

#514 Create enarx-keep-sev-shim binary crate
  Makefile.toml
  enarx-keep-sev-shim/.cargo/config
  enarx-keep-sev-shim/Cargo.toml
  enarx-keep-sev-shim/LICENSE
  enarx-keep-sev-shim/asm/rcrt1.c
  enarx-keep-sev-shim/asm/start.S
  enarx-keep-sev-shim/asm/utils.s
  enarx-keep-sev-shim/build.rs
  enarx-keep-sev-shim/link.json
  enarx-keep-sev-shim/src/asm.rs
  enarx-keep-sev-shim/src/main.rs
  enarx-keep-sev-shim/src/no_std.rs
Labels: amd sev

#530 sallyport: add a const fn to get the Block.buf size
  sallyport/src/lib.rs
Labels: amd sev, enhancement, intel sgx

#512 enarx-keep-sgx-shim: link rust musl compiler intrinsics to the shim
  enarx-keep-sgx-shim/.cargo/config
  enarx-keep-sgx-shim/link.json
  enarx-keep-sgx-shim/src/libc.rs
  enarx-keep-sgx-shim/src/main.rs
Labels: intel sgx

#531 Turn on LTO for the shims
  enarx-keep-sev-shim/Cargo.toml
  enarx-keep-sgx-shim/Cargo.toml
Labels: amd sev, enhancement, intel sgx

#517 Use memory::register::Register to wrap register types
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
  sgx-types/Cargo.toml
  sgx-types/src/ssa.rs
Labels: debt, intel sgx

#532 enarx-keep-sev-shim: rebuild on link.json changes
  enarx-keep-sev-shim/build.rs
Labels: amd sev

#533 Enable #![deny(missing_docs)] on the SGX shim
  enarx-keep-sgx-shim/src/handler.rs
  enarx-keep-sgx-shim/src/main.rs
Labels: debt, intel sgx

#543 Remove Allow lint attr. from sev-show
  sev-show/src/main.rs
Labels: amd sev

#550 Add a Sponsors section to the README.md
  README.md
Labels: documentation

#551 Add Packet as a Sponsor
  README.md
Labels: documentation

#554 Don't negate syscall arguments
  enarx-keep-sgx-shim/src/handler.rs
Labels: bug, intel sgx

#549 Deduplicate SEV ARK/ASK builtin certificates
  sev/src/certs/builtin/mod.rs
  sev/src/certs/builtin/naples/ark.cert
  sev/src/certs/builtin/naples/ask.cert
  sev/src/certs/builtin/naples/mod.rs
  sev/src/certs/builtin/rome/ask.cert
  sev/src/certs/builtin/rome/mod.rs
  sev/src/certs/mod.rs
  sev/tests/certs.rs
  sev/tests/naples/ark.rs
  sev/tests/naples/ask.rs
  sev/tests/naples/cek.rs
  sev/tests/naples/mod.rs
  sev/tests/session.rs
  sevctl/src/main.rs
  sevctl/src/naples/ark.cert
  sevctl/src/naples/ask.cert
Labels: amd sev

#541 Implement additional Register conversions
  memory/src/address.rs
  memory/src/offset.rs
  memory/src/register.rs
Labels: amd sev, enhancement, intel sgx

#557 Fix mmap flags for enarx-keep-sev
  enarx-keep-sev/src/vm.rs
Labels: amd sev, bug

#502 wasm: update keep-libruntime and keep-runtime
  Makefile.toml
  deny.toml
  keep-runtime/.cargo/config
  keep-runtime/Cargo.toml
  keep-runtime/LICENSE
  keep-runtime/fixtures/no_export.wat
  keep-runtime/fixtures/return_1.wat
  keep-runtime/fixtures/wasi_snapshot1.wat
  keep-runtime/link.json
  keep-runtime/src/main.rs
  keep-runtime/src/workload.rs
Labels: wasm
