Repository enarx/enarx, pull requests merged in 2020-08, with the labels that each got.

#756 make sallyport::Cursor safe again
  enarx-keep-sev-shim/src/hostcall.rs
  enarx-keep-sgx-shim/src/handler.rs
  sallyport/src/lib.rs
Labels: enhancement

#774 make enarx-keep-sgx-shim static-pie without linker script
  Makefile.toml
  enarx-keep-sev-shim/Cargo.toml
  enarx-keep-sev-shim/src/main.rs
  enarx-keep-sev-shim/src/rcrt1.c
  enarx-keep-sgx-shim/Cargo.toml
  enarx-keep-sgx-shim/build.rs
  enarx-keep-sgx-shim/layout.ld
  enarx-keep-sgx-shim/link.json
  enarx-keep-sgx-shim/src/entry.rs
  enarx-keep-sgx-shim/src/heap.rs
  enarx-keep-sgx-shim/src/lib.rs
  enarx-keep-sgx-shim/src/main.rs
  enarx-keep-sgx-shim/src/start.S
  enarx-keep-sgx/Cargo.toml
  enarx-keep-sgx/src/main.rs
  rcrt1/Cargo.toml
  rcrt1/LICENSE
  rcrt1/src/lib.rs
Labels: enhancement, intel sgx

#784 .tests/misc-lints-missing-*: fix ambigous arguments
  .tests/misc-lints-clippy-all
  .tests/misc-lints-missing-docs
Labels: infrastructure

#781 Let the sev/kvm do the address translation for the loader
  enarx-keep-sev-shim/src/addr.rs
  enarx-keep-sev-shim/src/hostcall.rs
  enarx-keep-sev-shim/src/lib.rs
  enarx-keep/src/backend/kvm/vm/builder.rs
  enarx-keep/src/backend/kvm/vm/cpu.rs
Labels: amd sev

#787 shim sev/sgx: remove the indirection of the inital function rust call
  enarx-keep-sev-shim/src/start.S
  enarx-keep-sgx-shim/src/start.S
Labels: amd sev, intel sgx

#794 sgx-shim: use goblin instead of the own elf header version
  enarx-keep-sgx-shim/Cargo.toml
  enarx-keep-sgx-shim/src/elf.rs
  enarx-keep-sgx-shim/src/entry.rs
  enarx-keep-sgx-shim/src/main.rs
Labels: intel sgx

#684 Implement payload loading and syscall handling
  enarx-keep-sev-shim/Cargo.toml
  enarx-keep-sev-shim/src/addr.rs
  enarx-keep-sev-shim/src/asm.rs
  enarx-keep-sev-shim/src/asm.s
  enarx-keep-sev-shim/src/main.rs
  enarx-keep-sev-shim/src/payload.rs
  enarx-keep-sev-shim/src/random.rs
  enarx-keep-sev-shim/src/shim_stack.rs
  enarx-keep-sev-shim/src/syscall.rs
Labels: amd sev, enhancement

#792 testaso: use memoffset::offset_of!()
  intel-types/Cargo.toml
  intel-types/src/lib.rs
  sgx/Cargo.toml
  sgx/src/lib.rs
Labels: bug

#796 Make rustfmt and clippy non-nightly
  containers/fedora/Dockerfile
Labels: bug, infrastructure

#795 rcrt1: fix clippy warnings
  rcrt1/src/lib.rs
Labels: amd sev, documentation, intel sgx

#797 keep-runtime: update to wasmtime 0.19
  keep-runtime/Cargo.toml
Labels: debt, wasm

#804 containers/fedora: install nightly clippy
  containers/fedora/Dockerfile
Labels: infrastructure

#799 sev-shim: implement read syscall
  enarx-keep-sev-shim/src/hostcall.rs
  enarx-keep-sev-shim/src/syscall.rs
Labels: amd sev

#790 Add dist-clean script to clean Cargo.lock files
  Makefile.toml
Labels: enhancement, infrastructure

#834 Merge enarx-keep-sgx into enarx-keep
  Makefile.toml
  enarx-keep-sgx/Cargo.toml
  enarx-keep-sgx/LICENSE
  enarx-keep-sgx/src/main.rs
  enarx-keep/Cargo.toml
  enarx-keep/src/backend/kvm.rs
  enarx-keep/src/backend/mod.rs
  enarx-keep/src/backend/sev.rs
  enarx-keep/src/backend/sgx/data.rs
  enarx-keep/src/backend/sgx/mod.rs
  enarx-keep/src/main.rs
  integration-tests/tests/common/mod.rs
  loader/Cargo.toml
  loader/LICENSE
  loader/src/lib.rs
  loader/src/segment.rs
  sgx/src/enclave/mod.rs
Labels: intel sgx

#801 sev-shim: use asm and naked_functions feature
  enarx-keep-sev-shim/Cargo.toml
  enarx-keep-sev-shim/Makefile.toml
  enarx-keep-sev-shim/src/asm.rs
  enarx-keep-sev-shim/src/asm.s
  enarx-keep-sev-shim/src/gdt.rs
  enarx-keep-sev-shim/src/main.rs
  enarx-keep-sev-shim/src/syscall.S
  enarx-keep-sev-shim/src/syscall.rs
  enarx-keep-sev-shim/src/usermode.S
  enarx-keep-sev-shim/src/usermode.rs
  enarx-keep/Makefile.toml
Labels: amd sev

#835 Rename cargo-make-ci-flow -> cargo-make-ci
  .github/workflows/cargo.yml
Labels: infrastructure

#806 keep-runtime: Port to using wasmtime's Linker interface
  keep-runtime/fixtures/no_export.wat
  keep-runtime/src/workload.rs
Labels: wasm

#800 add kvm integration test
  enarx-keep-sev-shim/src/print.rs
  enarx-keep-sev-shim/src/syscall.rs
  integration-tests/build.rs
  integration-tests/src/bin/clock_gettime.rs
  integration-tests/tests/common/mod.rs
  integration-tests/tests/syscall_clock_gettime.rs
  integration-tests/tests/syscall_exit.rs
  integration-tests/tests/syscall_read.rs
  integration-tests/tests/syscall_write.rs
Labels: amd sev, enhancement

#842 Makefile.toml: unset RUST_RECURSION_COUNT
  Makefile.toml
Labels: infrastructure

#791 Generate a REPORT by populating TARGETINFO with default values
  sgx/Cargo.toml
  sgx/Makefile.toml
  sgx/examples/generate_report.rs
  sgx/src/attestation_types/report.rs
  sgx/src/attestation_types/ti.rs
  sgx/src/lib.rs
Labels: intel sgx

#850 enarx-keep/shims/*: link-args=-Wl,--sort-section=alignment
  enarx-keep/shims/shim-sev/.cargo/config
  enarx-keep/shims/shim-sgx/.cargo/config
Labels: amd sev, enhancement, intel sgx

#853 mv `use crate::attestation_types::report` in feature gated function
  sgx/src/attestation_types/ti.rs
Labels: bug, intel sgx

#852 build.rs: run `strip` on the shims before including them in enarx-keep
  enarx-keep/build.rs
Labels: amd sev, enhancement, intel sgx

#870 Move SGX signing code into the types module
  sev/Cargo.toml
  sgx/Cargo.toml
  sgx/src/crypto.rs
  sgx/src/enclave/builder.rs
  sgx/src/enclave/ioctls.rs
  sgx/src/types/sig.rs
Labels: intel sgx

#859 shim-sev: implement syscalls for glibc and keep-runtime Hello World
  enarx-keep/shims/shim-sev/src/payload.rs
  enarx-keep/shims/shim-sev/src/syscall.rs
Labels: amd sev, enhancement

#785 KVM ballooning
  enarx-keep/shims/shim-sev/src/addr.rs
  enarx-keep/shims/shim-sev/src/frame_allocator.rs
  enarx-keep/shims/shim-sev/src/hostcall.rs
  enarx-keep/shims/shim-sev/src/hostlib.rs
  enarx-keep/shims/shim-sev/src/main.rs
  enarx-keep/src/backend/kvm.rs
  enarx-keep/src/backend/kvm/vm.rs
  enarx-keep/src/backend/kvm/vm/builder.rs
  enarx-keep/src/backend/kvm/vm/cpu.rs
  enarx-keep/src/backend/kvm/vm/mem.rs
  enarx-keep/src/backend/mod.rs
  enarx-keep/src/main.rs
Labels: amd sev, enhancement, research

#878 Fork off keep-runtime into its own repo
  Makefile.toml
  keep-runtime/.cargo/config
  keep-runtime/Cargo.toml
  keep-runtime/LICENSE
  keep-runtime/build.rs
  keep-runtime/fixtures/no_export.wat
  keep-runtime/fixtures/return_1.wat
  keep-runtime/fixtures/wasi_snapshot1.wat
  keep-runtime/link.json
  keep-runtime/src/main.rs
  keep-runtime/src/workload.rs
Labels: wasm

#885 shim-sev: don't try to map empty elf section
  enarx-keep/shims/shim-sev/src/payload.rs
Labels: amd sev, bug

#854 Allocate the exception stacks with page guards
  enarx-keep/shims/shim-sev/src/gdt.rs
  enarx-keep/shims/shim-sev/src/payload.rs
  enarx-keep/shims/shim-sev/src/shim_stack.rs
  enarx-keep/shims/shim-sev/src/start.S
Labels: amd sev

#886 Evolve code! macro into impl_const_id!
  sev/src/firmware/linux/ioctl.rs
  sev/src/lib.rs
  sev/src/util.rs
Labels: amd sev

#890 shim-sev: switch to a guarded stack as soon as possible
  enarx-keep/shims/shim-sev/src/gdt.rs
  enarx-keep/shims/shim-sev/src/main.rs
Labels: amd sev

#882 Extend export command to optionally export the entire certificate chain
  sevctl/src/main.rs
Labels: amd sev

#884 A new mmap implementation
  enarx-keep/src/backend/kvm/vm.rs
  enarx-keep/src/backend/kvm/vm/builder.rs
  enarx-keep/src/backend/kvm/vm/cpu.rs
  enarx-keep/src/backend/kvm/vm/mem.rs
  enarx-keep/src/binary/component.rs
  enarx-keep/src/binary/segment.rs
  mmap/Cargo.toml
  mmap/src/lib.rs
  sgx/src/enclave/builder.rs
  sgx/src/enclave/enclave.rs
Labels: infrastructure

#889 Move automatic SEV generation autodetection into sev
  sev/src/lib.rs
  sevctl/src/main.rs
  sevctl/src/platform.rs
Labels: amd sev

#888 impl AsRawFd for Firmware
  sev/src/firmware/linux/mod.rs
Labels: amd sev

#887 Refer to correct struct and kernel header
  sev/src/firmware/linux/ioctl.rs
Labels: amd sev
