Repository enarx/enarx, pull requests merged in 2020-04, with the labels that each got.

#395 Add preliminary exit_group() syscall handler
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#401 enarx-keep-sev/src/kvmvm.rs: fixup for PIE range
  enarx-keep-sev/src/kvmvm.rs
Labels: amd sev

#397 Stub for set_tid_address
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#407 Implement a rudimentary brk
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#413 Fix labeler bot infinite loop
  .automation/copy-issue-labels-to-pr
Labels: infrastructure

#415 sev: s/kernel/shim/g;s/app/code/g
  enarx-keep-sev-shim/README.md
  enarx-keep-sev-shim/qemu-test-runner.sh
  enarx-keep-sev/src/main.rs
Labels: amd sev

#419 Add mentorship request template
  .github/ISSUE_TEMPLATE/mentorship.md
Labels: infrastructure

#421 Add memory crate
  Cargo.toml
  memory/Cargo.toml
  memory/LICENSE
  memory/src/address.rs
  memory/src/lib.rs
  memory/src/offset.rs
  memory/src/page.rs
  memory/src/register.rs
Labels: amd sev, intel sgx

#380 Add issues to projects when labeled
  .automation/add-to-project-when-labeled
  .github/workflows/automation-label.yml
Labels: infrastructure

#430 Test consistency of linked issues between commits and PR
  .github/workflows/miscellaneous.yml
  .tests/misc-consistent-linked-issues
Labels: infrastructure

#444 Make project automation script executable
  .automation/add-to-project-when-labeled
Labels: infrastructure

#449 Ensure no enclave re-entry after sys_exit
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#451 Drop the page module from enarx-keep-sgx
  enarx-keep-sgx/Cargo.toml
  enarx-keep-sgx/src/component.rs
  enarx-keep-sgx/src/contents.rs
  enarx-keep-sgx/src/main.rs
  enarx-keep-sgx/src/page.rs
Labels: intel sgx

#450 Add Line type to the span crate
  span/src/lib.rs
  span/src/line.rs
  span/src/span.rs
Labels: amd sev, intel sgx

#452 Fix arch_prctl() syscall
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#454 Remove AsRef implementations
  sgx-crypto/src/lib.rs
  sgx-types/src/page.rs
  sgx-types/src/ssa.rs
  sgx-types/src/tcs.rs
Labels: intel sgx

#453 Rework how segments are loaded
  enarx-keep-sgx/src/component.rs
  enarx-keep-sgx/src/contents.rs
  enarx-keep-sgx/src/main.rs
Labels: intel sgx

#456 Move enclave creation logic into a separate function
  enarx-keep-sgx/src/main.rs
Labels: intel sgx

#457 Fix use-after-free bug
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#458 Detect relocation in Component
  enarx-keep-sgx/src/component.rs
Labels: intel sgx

#459 Always take absolute addresses in the enclave builder
  enarx-keep-sgx/src/builder.rs
  enarx-keep-sgx/src/main.rs
Labels: intel sgx

#460 Update sgx_types::tcs::Tcs for the new strategy
  sgx-types/src/tcs.rs
Labels: intel sgx

#461 Use memory::Page across multiple crates
  enarx-keep-sgx/src/builder.rs
  enarx-keep-sgx/src/main.rs
  iocuddle-sgx/Cargo.toml
  iocuddle-sgx/src/lib.rs
  sgx-crypto/Cargo.toml
  sgx-crypto/src/lib.rs
Labels: intel sgx

#462 Rework the SGX loader to pass measured argument
  enarx-keep-sgx-shim/Cargo.toml
  enarx-keep-sgx-shim/layout.ld
  enarx-keep-sgx-shim/src/entry.rs
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
  enarx-keep-sgx-shim/src/main.rs
  enarx-keep-sgx-shim/src/start.S
  enarx-keep-sgx/Cargo.toml
  enarx-keep-sgx/src/builder.rs
  enarx-keep-sgx/src/component.rs
  enarx-keep-sgx/src/layout.rs
  enarx-keep-sgx/src/main.rs
Labels: intel sgx

#466 Make Handler::aex public
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#467 Switch to running static-pie binaries
  enarx-keep-sgx-shim/src/elf.rs
  enarx-keep-sgx-shim/src/entry.rs
  enarx-keep-sgx-shim/src/main.rs
  enarx-keep-sgx/src/layout.rs
  enarx-keep-sgx/src/main.rs
Labels: intel sgx

#470 enarx-keep-sgx: Use StructOpt for argument parsing
  enarx-keep-sgx/Cargo.toml
  enarx-keep-sgx/src/main.rs
Labels: intel sgx

#471 Silence layout debug eprintln!()
  enarx-keep-sgx/src/builder.rs
Labels: intel sgx

#474 implement CPUID in the SGX shim
  enarx-keep-sgx-shim/src/event.rs
Labels: enhancement, intel sgx
