Repository enarx/enarx, pull requests merged in 2020-03, with the labels that each got.

#289 Create a Cargo feature enabling dangerous SEV hardware tests
  sev/Cargo.toml
  sev/tests/api.rs
Labels: amd sev

#296 Fix conditional compilation of dangerous tests
  sev/tests/api.rs
Labels: amd sev

#304 Add starter Mergeable config to fix bad checks
  .github/mergeable.yml
Labels: infrastructure

#307 Move testing crate to dev-dependencies
  intel-types/Cargo.toml
  intel-types/src/lib.rs
  sgx-types/Cargo.toml
  sgx-types/src/attr.rs
  sgx-types/src/page.rs
  sgx-types/src/report.rs
  sgx-types/src/secs.rs
  sgx-types/src/sig.rs
  sgx-types/src/ssa.rs
  sgx-types/src/tcs.rs
  sgx-types/src/ti.rs
Labels: intel sgx

#305 Fix guidance comment formatting in conferences template
  .github/ISSUE_TEMPLATE/conferences.md
Labels: infrastructure

#317 Replace `colored` with MIT-licensed `colorful`
  sev-show/Cargo.toml
  sev-show/src/main.rs
  sgx-show/Cargo.toml
  sgx-show/src/exec.rs
Labels: infrastructure

#297 Test dependencies for Apache 2.0-compatible licenses
  .github/workflows/cargo.yml
  deny.toml
Labels: infrastructure

#333 Add documentation for iocuddle-sgx
  iocuddle-sgx/src/lib.rs
Labels: intel sgx

#341 Remove check for newline at EOF
  .github/workflows/miscellaneous.yml
  .tests/misc-eof
Labels: infrastructure

#314 Add SEV API command codes (AKA command IDs)
  sev-types/Cargo.toml
  sev-types/src/command/code.rs
  sev-types/src/command/mod.rs
  sev-types/src/lib.rs
Labels: amd sev

#351 Fix clippy warnings for sev-show
  sev-show/src/main.rs
  sev-show/src/show.rs
Labels: amd sev

#353 Use upstream libc mmap flags
  enarx-keep-sgx/Cargo.toml
  enarx-keep-sgx/src/builder.rs
  enarx-keep-sgx/src/map.rs
Labels: intel sgx

#326 Implement syscall handlers for exit() and getuid()
  docs/Makefile
  docs/attestation/Makefile
  docs/keep/sgx/README.md
  docs/keep/sgx/syscall.msc
  docs/keep/sgx/syscall.msc.png
  enarx-keep-sgx-shim/Cargo.toml
  enarx-keep-sgx-shim/build.rs
  enarx-keep-sgx-shim/layout.ld
  enarx-keep-sgx-shim/src/libc.rs
  enarx-keep-sgx-shim/src/main.rs
  enarx-keep-sgx-shim/src/start.S
  enarx-keep-sgx/build.rs
  enarx-keep-sgx/src/enclave.S
  enarx-keep-sgx/src/enclave.rs
  enarx-keep-sgx/src/enclave.s
  enarx-keep-sgx/src/main.rs
Labels: intel sgx

#352 Use the new Version struct exported by sev-types
  sev/Cargo.toml
  sev/src/certs/sev/cert/v1/body/mod.rs
  sev/src/firmware/linux.rs
  sev/src/launch.rs
  sev/src/lib.rs
  sev/src/session/mod.rs
  sev/tests/api.rs
Labels: amd sev

#357 Make Mergeable always pass
  .github/mergeable.yml
Labels: infrastructure

#359 Conditionally remove SGX shim entry point if not on SGX-enabled hardware
  enarx-keep-sgx-shim/link.json
Labels: intel sgx

#361 Make reserved field public in SSA
  sgx-types/src/ssa.rs
Labels: intel sgx

#360 Sorting Hat: Copy labels to pull requests from linked issues
  .automation/copy-issue-labels-to-pr
  .github/mergeable.yml
  .github/workflows/automation-pr.yml
Labels: infrastructure

#370 Add common code that is shared between SEV keep and shim
  vmsyscall/Cargo.toml
  vmsyscall/src/bootinfo.rs
  vmsyscall/src/lib.rs
  vmsyscall/src/memory_map.rs
Labels: amd sev

#390 Allow BSD-3-Clause style licenses
  deny.toml
Labels: infrastructure

#392 Paper over missing_docs warning for already-merged code
  enarx-keep-sev-shim/src/lib.rs
  enarx-keep-sev-shim/src/main.rs
Labels: amd sev
