Repository enarx/enarx, pull requests merged in 2020-07, with the labels that each got.

#654 Wrap GitHub Actions Runner in a container
  containers/gha-runner/Dockerfile
  containers/gha-runner/README.md
  containers/gha-runner/setup.sh
  containers/gha-runner/start.sh
Labels: infrastructure

#656 Make TSS and GDT part of .data rather than allocate on the stack
  enarx-keep-sev-shim/src/gdt.rs
  enarx-keep-sev-shim/src/main.rs
Labels: amd sev

#662 sgx-shim: Add support for the getrandom() syscall
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx, wasm

#666 Memory address cast
  memory/src/address.rs
Labels: amd sev, intel sgx

#669 Use syscall proxy for exit
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#674 usermode: set interrupt enable flag
  enarx-keep-sev-shim/src/usermode.S
Labels: amd sev

#672 Update exit_group syscall to use proxy
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#675 fix print
  enarx-keep-sev-shim/src/print.rs
Labels: amd sev

#677 Update getuid syscall to use proxy
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#699 Even more conversions for Register
  memory/src/register.rs
Labels: amd sev, enhancement, intel sgx

#679 Update write syscall to use proxy
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#698 Create diagrams with cargo make
  .tests/misc-diagrams
  Makefile.toml
  docs/Makefile
  docs/Makefile.toml
Labels: infrastructure

#717 sgx-shim: Add unit tests for Heap
  enarx-keep-sgx-shim/src/heap.rs
Labels: intel sgx

#720 Remove unused import
  enarx-keep/src/backend/sgx.rs
Labels: intel sgx

#714 Separate project ci and per-crate ci tasks
  .github/workflows/cargo.yml
  Makefile.toml
Labels: infrastructure

#725 Use sallyport::Cursor for buf allocations
  enarx-keep-sev-shim/src/hostcall.rs
  sallyport/src/lib.rs
Labels: amd sev

#710 Add a test for Write system call
  integration-tests/src/bin/write_stderr.rs
  integration-tests/src/bin/write_stdout.rs
  integration-tests/tests/common/mod.rs
  integration-tests/tests/syscall_exit.rs
  integration-tests/tests/syscall_write.rs
Labels: intel sgx

#737 Fix compiler warnings
  enarx-keep-sev-shim/src/hostcall.rs
  enarx-keep-sev-shim/src/main.rs
Labels: amd sev

#678 Update read syscall to use proxy
  enarx-keep-sgx-shim/src/handler.rs
Labels: intel sgx

#744 sev: update kvm-bindings
  enarx-keep-sev/Cargo.toml
Labels: amd sev

#740 sev-shim: add memory size to BootInfo and rename some internals
  enarx-keep-sev-shim/src/lib.rs
Labels: amd sev

#742 sev-shim: add dbg!() macro for faster debugging
  enarx-keep-sev-shim/src/print.rs
Labels: amd sev

#741 sev-shim: let triple fault hlt loop as fallback
  enarx-keep-sev-shim/src/asm.rs
  enarx-keep-sev-shim/src/asm.s
  enarx-keep-sev-shim/src/hostcall.rs
  enarx-keep-sev-shim/src/main.rs
Labels: amd sev

#681 Add syscall clock_gettime
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
  integration-tests/src/bin/clock_gettime.rs
  integration-tests/tests/syscall_clock_gettime.rs
Labels: intel sgx, wasm

#743 sev-shim: use lazy_static for hostcall
  enarx-keep-sev-shim/Cargo.toml
  enarx-keep-sev-shim/src/hostcall.rs
  enarx-keep-sev-shim/src/main.rs
Labels: amd sev

#757 Add better failure reporting in integration tests
  integration-tests/tests/common/mod.rs
Labels: enhancement

#750 Fix a crasher in SGX
  enarx-keep-sgx-shim/src/handler.rs
Labels: bug, intel sgx, syscall

#746 Consolidate multiple sgx util crates
  Makefile.toml
  attestation-types/Cargo.toml
  enarx-keep-sgx-shim/Cargo.toml
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
  enarx-keep-sgx/Cargo.toml
  enarx-keep-sgx/src/builder.rs
  enarx-keep-sgx/src/main.rs
  enarx-keep/Cargo.toml
  enarx-keep/src/backend/sgx.rs
  intel-types/Cargo.toml
  intel-types/src/lib.rs
  iocuddle-sgx/Cargo.toml
  iocuddle-sgx/LICENSE
  sgx-crypto/Cargo.toml
  sgx-crypto/LICENSE
  sgx-types/Cargo.toml
  sgx-types/LICENSE
  sgx/Cargo.toml
  sgx/LICENSE
  sgx/build.rs
  sgx/src/attestation_types/mod.rs
  sgx/src/attestation_types/quote.rs
  sgx/src/attestation_types/report.rs
  sgx/src/attestation_types/ti.rs
  sgx/src/crypto.rs
  sgx/src/ioctls.rs
  sgx/src/lib.rs
  sgx/src/types/attr.rs
  sgx/src/types/isv.rs
  sgx/src/types/misc.rs
  sgx/src/types/mod.rs
  sgx/src/types/page.rs
  sgx/src/types/secs.rs
  sgx/src/types/sig.rs
  sgx/src/types/ssa.rs
  sgx/src/types/tcs.rs
  sgx/tests/encl.bin
  sgx/tests/encl.pem
  sgx/tests/encl.ss
  testing/Cargo.toml
  testing/LICENSE
Labels: debt, intel sgx

#711 Add a test for Read system call
  integration-tests/src/bin/read.rs
  integration-tests/tests/syscall_read.rs
Labels: intel sgx

#751 sev-shim: use lazy_static for the GDT
  enarx-keep-sev-shim/src/gdt.rs
  enarx-keep-sev-shim/src/main.rs
Labels: amd sev

#766 Use sallyport::Result for syscall return types
  enarx-keep-sev-shim/src/hostcall.rs
Labels: amd sev

#758 Expand setup area to accommodate CPU hotplug
  enarx-keep-sev-shim/src/lib.rs
  enarx-keep-sev/Cargo.toml
  enarx-keep-sev/src/main.rs
  enarx-keep-sev/src/vm/builder.rs
  enarx-keep-sev/src/vm/mem.rs
  enarx-keep-sev/src/vm/mod.rs
  enarx-keep-sev/src/x86_64.rs
Labels: amd sev

#722 Port KVM backend from enarx-keep-sev to enarx-keep
  Makefile.toml
  enarx-keep-sev/Cargo.toml
  enarx-keep-sev/LICENSE
  enarx-keep-sev/src/main.rs
  enarx-keep-sev/src/vm/cpu.rs
  enarx-keep-sev/src/vm/mod.rs
  enarx-keep/Cargo.toml
  enarx-keep/src/backend/kvm.rs
  enarx-keep/src/backend/kvm/vm.rs
  enarx-keep/src/backend/kvm/vm/builder.rs
  enarx-keep/src/backend/kvm/vm/cpu.rs
  enarx-keep/src/backend/kvm/vm/mem.rs
  enarx-keep/src/backend/kvm/vm/x86_64.rs
Labels: amd sev

#759 sev-shim: Implement `allocate_and_map_memory()` and allocate the shim stack
  enarx-keep-sev-shim/src/addr.rs
  enarx-keep-sev-shim/src/frame_allocator.rs
  enarx-keep-sev-shim/src/gdt.rs
  enarx-keep-sev-shim/src/main.rs
  enarx-keep-sev-shim/src/paging.rs
  enarx-keep-sev-shim/src/shim_stack.rs
Labels: amd sev

#761 Use sallyport for SGX syscall proxying
  enarx-keep-sgx-shim/src/event.rs
  enarx-keep-sgx-shim/src/handler.rs
  enarx-keep-sgx/src/enclave.S
  enarx-keep-sgx/src/enclave.rs
  enarx-keep-sgx/src/main.rs
Labels: intel sgx, syscall

#772 Remove unnecessary syscall() args
  enarx-keep-sgx-shim/src/handler.rs
  enarx-keep-sgx-shim/src/start.S
Labels: intel sgx, syscall

#778 Remove old crate name
  Makefile.toml
Labels: infrastructure

#777 Let the vDSO preserve %rbx
  enarx-keep-sgx/src/enclave.S
Labels: intel sgx, syscall

#782 sev-shim: exclude musl rcrt1 from linking
  enarx-keep-sev-shim/link.json
Labels: amd sev, bug
