Repository enarx/enarx, pull requests merged in 2022-03, with the labels that each got.

#1512 chore(ci): re-enable SEV tests
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: infrastructure

#1523 build(deps): update sallyport
  Cargo.lock
  Cargo.toml
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  tests/sev_attestation/Cargo.toml
Labels: dependencies

#1527 feat: enable SGX attestation tests only if AESMD is running
  build.rs
  src/backend/sgx/attestation.rs
  tests/c_integration_tests.rs
Labels: intel sgx, attestation

#1532 fix(sgx): a compilation error in shim-sgx
  internal/shim-sgx/src/handler/mod.rs
Labels: bug, intel sgx, triage

#1544 build(deps): update nix flake
  flake.lock
Labels: dependencies

#1568 chore(ci): add workflow to generate SBOM
  .github/workflows/sbom_manifest_action.yml
  .github/workflows/sbom_manifest_check.yml
Labels: infrastructure, security

#1595 feat(shim-sgx): enable `mmledger::Ledger`
  Cargo.lock
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
  internal/shim-sgx/src/heap.rs
Labels: enhancement, intel sgx
