Repository enarx/enarx, pull requests merged in 2022-07, with the labels that each got.

#2002 feat(cli): user login CLI
  Cargo.lock
  Cargo.toml
  src/cli/user/login.rs
  src/cli/user/logout.rs
  src/cli/user/mod.rs
  src/cli/user/token/info.rs
  src/cli/user/token/login.rs
  src/cli/user/token/mod.rs
Labels: client

#2022 feat: add enarx-config crate
  .codecov.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/sbom_manifest_check.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/enarx-config/Enarx_toml.md
  crates/enarx-config/LICENSE
  crates/enarx-config/README.md
  crates/enarx-config/src/lib.rs
  crates/exec-wasmtime/Cargo.toml
  crates/exec-wasmtime/src/lib.rs
  crates/exec-wasmtime/src/loader/compiled/mod.rs
  crates/exec-wasmtime/src/loader/mod.rs
  crates/exec-wasmtime/src/loader/requested.rs
Labels: infrastructure, wasm

#2026 docs: add reference to Enarx_toml.md
  docs/Enarx_toml.md
Labels: documentation, dependencies

#2027 build: ensure enarx-config crate is built and published
  helper/release_enarx.sh
Labels: infrastructure, release

#2020 feat: flesh out fundamental drawbridge CLI
  Cargo.lock
  Cargo.toml
  crates/exec-wasmtime/deny.toml
  deny.toml
  src/cli/deploy.rs
  src/cli/mod.rs
  src/cli/package/info.rs
  src/cli/package/mod.rs
  src/cli/package/publish.rs
  src/cli/platform/mod.rs
  src/cli/repo/info.rs
  src/cli/repo/mod.rs
  src/cli/repo/register.rs
  src/cli/run.rs
  src/cli/unstable/exec.rs
  src/cli/user/info.rs
  src/cli/user/login.rs
  src/cli/user/mod.rs
  src/cli/user/register.rs
  src/drawbridge.rs
  src/exec/mod.rs
  src/main.rs
  tests/client/mod.rs
  tests/client/testdata/ca.conf
  tests/client/testdata/ca.crt
  tests/client/testdata/ca.key
  tests/client/testdata/ca.srl
  tests/client/testdata/client.conf
  tests/client/testdata/client.crt
  tests/client/testdata/client.csr
  tests/client/testdata/client.key
  tests/client/testdata/echo_server/Enarx.toml
  tests/client/testdata/echo_server/main.wasm
  tests/client/testdata/generate.sh
  tests/client/testdata/server.conf
  tests/client/testdata/server.crt
  tests/client/testdata/server.csr
  tests/client/testdata/server.key
  tests/client/token
  tests/client/util.rs
  tests/integration.rs
  tests/wasm/mod.rs
Labels: wasm, client, testing

#2029 chore(release): release v0.6.0
  Cargo.lock
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  docs/Install.md
Labels: intel sgx, amd sev, wasm, kvm, sallyport, release, config

#2030 docs: bump version in Quickstart to 0.6.0
  docs/Quickstart.mdx
Labels: documentation, release

#2031 fix(enarx-config): correct repo link in Cargo.toml
  crates/enarx-config/Cargo.toml
Labels: config

#1993 fix(deps): update linked_list_allocator requirement from 0.9.1 to 0.10.1
  Cargo.lock
  crates/shim-kvm/Cargo.toml
  crates/shim-kvm/src/allocator.rs
  crates/shim-kvm/src/exec.rs
  crates/shim-kvm/src/hostcall.rs
  crates/shim-kvm/src/pagetables.rs
  crates/shim-kvm/src/shim_stack.rs
Labels: amd sev, kvm

#2036 feat: add Serialize to enarx-config
  crates/enarx-config/src/lib.rs
Labels: config

#2046 fix(sev): return proper io::Error for `register_enc_memory_region()`
  src/backend/sev/mod.rs
Labels: amd sev, backend

#2049 feat(sev): remove vcek cache directory in `$HOME`
  src/backend/sev/snp/vcek.rs
  src/cli/platform/snp/info.rs
  src/cli/platform/snp/update.rs
Labels: amd sev, client, backend

#2040 feat(shim-kvm): enable CR0 WRITE_PROTECT
  crates/shim-kvm/src/allocator.rs
  crates/shim-kvm/src/hostcall.rs
  crates/shim-kvm/src/main.rs
Labels: amd sev, kvm

#2052 feat(backend): register well-known backend names
  src/backend/kvm/mod.rs
  src/backend/mod.rs
  src/backend/nil.rs
  src/backend/sev/mod.rs
  src/backend/sgx/mod.rs
  src/cli/mod.rs
  src/cli/platform/info.rs
Labels: intel sgx, amd sev, client, backend, kvm

#2055 test(snp): add some testaso tests for the SEV-SNP backend
  Cargo.lock
  Cargo.toml
  src/backend/sev/snp/firmware/linux.rs
  src/backend/sev/snp/firmware/mod.rs
Labels: amd sev, backend

#2056 feat(sev_attestation): move sev_attestation test
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  tests/crates/enarx_exec_tests/Cargo.toml
  tests/crates/enarx_exec_tests/src/bin/sev_attestation.rs
  tests/crates/sev_attestation/Cargo.toml
  tests/exec/mod.rs
Labels: infrastructure, testing

#2060 ci: fix toolchain
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Labels: infrastructure

#2037 feat: add `enarx config init`
  crates/enarx-config/Enarx_toml.md
  crates/enarx-config/src/lib.rs
  src/cli/config/init.rs
  src/cli/config/mod.rs
  src/cli/mod.rs
  tests/client/mod.rs
Labels: client, testing, config

#2062 fix(sev): rename `enarx platform snp info`
  src/cli/platform/snp/mod.rs
  src/cli/platform/snp/update.rs
  src/cli/platform/snp/vcek.rs
Labels: client

#2069 fix(sallyport): avoid UB by removing implicit reference from indexing with range
  crates/sallyport/src/guest/alloc/phase_alloc.rs
  crates/sallyport/src/lib.rs
Labels: sallyport

#2070 refactor(examples): remove tcp_server example
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  examples/tcp_server/Cargo.toml
  examples/tcp_server/Enarx.toml
  examples/tcp_server/README.md
  examples/tcp_server/src/main.rs
Labels: infrastructure

#2072 fix(release): rename windows artifact locations
  .github/workflows/release.yml
Labels: infrastructure, release

#2076 fix(cli): forbid publish of malformed packages
  src/cli/package/publish.rs
  tests/client/mod.rs
Labels: client, testing

#2077 chore(wasmtime): bump wasmtime related dependencies
  Cargo.lock
  crates/exec-wasmtime/Cargo.toml
Labels: wasm, dependencies

#2078 chore(release): release v0.6.1
  Cargo.lock
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  docs/Install.md
  docs/Quickstart.mdx
Labels: intel sgx, amd sev, wasm, kvm, sallyport, release, config

#2082 feat(sgx): add ENARX_TEST_SGX_KEY_FILE env variable
  src/backend/sgx/builder.rs
  tests/integration.rs
  tests/sgx-test.key
  tests/wasm/mod.rs
Labels: intel sgx, testing, backend

#2097 feat: set `main.wasm` in `argv[0]`
  crates/exec-wasmtime/src/loader/compiled/mod.rs
Labels: wasm

#2098 feat: treat 0 exit code as success
  crates/exec-wasmtime/src/loader/connected.rs
Labels: wasm

#2099 chore(release): release v0.6.2
  Cargo.lock
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  docs/Install.md
  docs/Quickstart.mdx
Labels: intel sgx, amd sev, wasm, kvm, sallyport, release, config

#2095 chore(exec-wasmtime): bump x509-cert to v0.1.0
  Cargo.lock
  crates/exec-wasmtime/Cargo.toml
  crates/exec-wasmtime/src/loader/configured/mod.rs
  crates/exec-wasmtime/src/loader/pki.rs
  crates/exec-wasmtime/src/loader/requested.rs
Labels: wasm

#2096 chore(exec-wasmtime): bump wasmtime deps to v0.39.1
  Cargo.lock
  crates/exec-wasmtime/Cargo.toml
Labels: wasm
