Repository enarx/enarx, pull requests merged in 2022-09, with the labels that each got.

#2154 feat: add rpm and debian packages to release
  .github/workflows/release.yml
  release/linux/deb/control
  release/linux/rpm/enarx.spec
Labels: infrastructure

#2155 build: update serial_test dependency to 0.9
  Cargo.lock
  Cargo.toml
  crates/sallyport/Cargo.toml
Labels: sallyport

#2156 ci(release): add keep signatures to released artifacts
  .github/workflows/release.yml
  release/linux/rpm/enarx.spec
Labels: infrastructure

#2169 fix(docs): add whitespace for Quickstart RPM install
  docs/Quickstart.mdx
Labels: bug, documentation

#2171 fix(exec-wasmtime): lower TLS cert serial number length
  crates/exec-wasmtime/src/loader/requested.rs
Labels: wasm

#2172 chore(release): release v0.6.4
  Cargo.lock
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
Labels: intel sgx, amd sev, wasm, kvm, sallyport, release, config

#2178 fix(shim-kvm): use SnpReportRequest struct
  crates/shim-kvm/src/snp/ghcb.rs
Labels: amd sev, kvm

#2182 chore(shim-sgx): merge `impl Handler` sections
  crates/shim-sgx/src/handler/mod.rs
Labels: intel sgx

#2183 feat(backend): use `tracing` instead of `log` for logging
  Cargo.lock
  Cargo.toml
  src/backend/sgx/builder.rs
  src/cli/mod.rs
Labels: intel sgx, client, backend

#2185 fix(backend): log filter parsing
  src/cli/mod.rs
Labels: client

#2189 refactor(config): default to Profian Steward
  crates/enarx-config/Enarx_toml.md
  crates/enarx-config/src/lib.rs
Labels: config

#2190 fix(config): remove custom `Serialize` implementation
  crates/enarx-config/src/lib.rs
Labels: config

#2191 fix: reenable `enarx deploy` tests
  tests/wasm/mod.rs
Labels: testing

#2192 refactor(config): avoid capitalizing file names
  crates/enarx-config/Enarx_toml.md
  crates/enarx-config/src/lib.rs
Labels: config

#2193 feat(config): error on unknown fields
  crates/enarx-config/src/lib.rs
Labels: config

#2194 feat: print child stderr in tests
  tests/integration.rs
Labels: testing

#2195 fix(config): use a domain name in TLS connect
  crates/enarx-config/src/lib.rs
Labels: config

#2201 style: use unbounded ranges in patterns
  crates/sallyport/src/guest/call/enarxcall/types/result.rs
  crates/sallyport/src/guest/call/gdbcall/types/result.rs
Labels: sallyport

#2197 feat(config): introduce file types
  crates/enarx-config/src/lib.rs
  crates/exec-wasmtime/src/loader/compiled/mod.rs
Labels: wasm, config

#2207 test: replace echo server with hello world in integration test
  tests/client/mod.rs
  tests/client/testdata/echo_server/main.wasm
  tests/client/testdata/wasm_example/Enarx.toml
  tests/client/testdata/wasm_example/main.wasm
Labels: testing

#2208 test: optimize wasm example
  tests/client/mod.rs
  tests/client/testdata/wasm_example/main.wasm
Labels: testing

#2202 fix(config): disallow invalid file names
  crates/enarx-config/src/lib.rs
Labels: config

#2223 fix: parse `Config`, not `Option<Config>`
  crates/exec-wasmtime/src/workload.rs
Labels: wasm

#2221 fix(shim-sgx): set HWCAP2 and clear fsbase
  crates/shim-sgx/src/entry.rs
Labels: intel sgx

#2224 refactor(test): remove unused `token`
  tests/client/token
Labels: testing

#2227 test(wasm): ignore Windows listener tests
  tests/wasm/mod.rs
Labels: testing

#2231 chore: update wasmtime
  Cargo.lock
  crates/exec-wasmtime/Cargo.toml
  crates/exec-wasmtime/src/runtime/net/tls.rs
Labels: wasm

#2233 fix(shim): replace unicode chars
  crates/shim-kvm/src/hostcall.rs
  crates/shim-kvm/src/syscall.rs
  crates/shim-sgx/src/handler/mod.rs
Labels: intel sgx, amd sev, kvm

#2238 fix: revert "test(wasm): avoid using `serial`"
  tests/wasm/mod.rs
Labels: testing

#2239 fix(shim-sgx): don't output dbg for SYS_clock_gettime
  crates/shim-sgx/src/handler/mod.rs
  src/backend/sgx/thread.rs
Labels: intel sgx, backend

#2240 fix(exec): sync TLS listener and stream applications with upstream
  crates/exec-wasmtime/src/runtime/net/tls.rs
Labels: wasm

#2244 fix(test/exec::thread_exit_group): rely on exit code
  tests/crates/enarx_exec_tests/src/bin/thread-exit-group.rs
  tests/exec/mod.rs
Labels: testing

#2249 test: check output during CLI integration tests
  src/cli/user/register.rs
  tests/client/data/invalid_dir/invalid_file
  tests/client/mod.rs
  tests/client/util.rs
Labels: client, testing
