Repository enarx/enarx, pull requests merged in 2022-08, with the labels that each got.

#2104 fix: bool::into() for 0 and 1
  crates/shim-kvm/src/snp/mod.rs
  src/backend/sev/snp/launch/linux.rs
Labels: amd sev, backend, kvm

#2107 fix: increase max wasm file size
  crates/exec-wasmtime/src/loader/requested.rs
Labels: wasm

#2106 feat(shim-kvm): update aes-gcm requirement from 0.9 to 0.10.1
  .cargo/config
  Cargo.lock
  crates/shim-kvm/Cargo.toml
  crates/shim-kvm/src/snp/ghcb.rs
Labels: amd sev, kvm

#2108 chore(windows): update wix to 0.3.3
  .github/workflows/release.yml
Labels: infrastructure, dependencies

#2117 feat!: enforce OCI-like `owner/repo:tag` slug format
  src/cli/deploy.rs
  src/drawbridge.rs
Labels: client

#2120 ci: consolidate deny checks
  .github/workflows/lint.yml
Labels: infrastructure

#2123 chore(release): release v0.6.3
  Cargo.lock
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  docs/Install.md
  docs/Quickstart.mdx
Labels: intel sgx, amd sev, wasm, kvm, sallyport, release, config

#2144 fix(sgx): dynamically enable AVX and AVX512
  Cargo.toml
  crates/shim-sgx/src/lib.rs
  src/backend/sgx/config.rs
Labels: intel sgx, backend

#2145 fix(sev): check for the VCEK cache file
  src/backend/sev/data.rs
  src/backend/sev/mod.rs
Labels: amd sev, backend

#2133 build: update wasmtime
  Cargo.lock
  crates/exec-wasmtime/Cargo.toml
Labels: wasm

#2146 fix(shim-kvm): correctly set XCR0 according to cpuid
  crates/shim-kvm/src/snp/cpuid_page.rs
  crates/shim-kvm/src/sse.rs
Labels: amd sev, kvm

#2147 ci(license): update license files
  LICENSE
  release/windows/License.rtf
Labels: release
