Repository enarx/enarx, pull requests merged in 2022-12, with the labels that each got.

#2374 ci: only generate test signature once
  tests/wasm/mod.rs
Labels: testing

#2382 refactor: remove unnecessary usage of Lazy
  crates/exec-wasmtime/src/runtime/net/mod.rs
  src/exec/mod.rs
Labels: wasm

#2370 test: remove unused test binary
  tests/crates/enarx_wasm_tests/src/bin/check_tcp.rs
Labels: wasm, testing

#2384 fix: return `ExitCode`, don't 'exit'
  src/backend/sgx/thread.rs
  src/cli/config/init.rs
  src/cli/config/mod.rs
  src/cli/deploy.rs
  src/cli/key/mod.rs
  src/cli/key/sev/create.rs
  src/cli/key/sev/digest.rs
  src/cli/key/sev/mod.rs
  src/cli/key/sev/sign.rs
  src/cli/key/sgx/create.rs
  src/cli/key/sgx/digest.rs
  src/cli/key/sgx/mod.rs
  src/cli/mod.rs
  src/cli/package/fetch.rs
  src/cli/package/info.rs
  src/cli/package/mod.rs
  src/cli/package/publish.rs
  src/cli/package/yank.rs
  src/cli/platform/info.rs
  src/cli/platform/mod.rs
  src/cli/platform/sgx/mod.rs
  src/cli/platform/sgx/register.rs
  src/cli/platform/snp/mod.rs
  src/cli/platform/snp/update.rs
  src/cli/platform/snp/vcek.rs
  src/cli/repo/info.rs
  src/cli/repo/mod.rs
  src/cli/repo/register.rs
  src/cli/repo/search.rs
  src/cli/repo/token/generate.rs
  src/cli/repo/token/info.rs
  src/cli/repo/token/mod.rs
  src/cli/repo/token/revoke.rs
  src/cli/repo/yank.rs
  src/cli/run.rs
  src/cli/sign.rs
  src/cli/tree/digest.rs
  src/cli/tree/fetch.rs
  src/cli/tree/info.rs
  src/cli/tree/mod.rs
  src/cli/unstable/exec.rs
  src/cli/unstable/mod.rs
  src/cli/user/info.rs
  src/cli/user/login.rs
  src/cli/user/logout.rs
  src/cli/user/mod.rs
  src/cli/user/register.rs
  src/exec/mod.rs
  src/main.rs
Labels: intel sgx, client, backend

#2392 feat: crl caching
  src/cli/platform/caching.rs
  src/cli/platform/mod.rs
  src/cli/platform/sgx/crl.rs
  src/cli/platform/sgx/mod.rs
  src/cli/platform/snp/crl.rs
  src/cli/platform/snp/mod.rs
Labels: intel sgx, amd sev, attestation, backend

#2402 fix(sgx): check `brk` region for lower limit
  crates/shim-sgx/src/heap.rs
Labels: intel sgx

#2399 chore: better CRL fetching and parsing
  Cargo.lock
  Cargo.toml
  src/cli/platform/caching.rs
  src/cli/platform/sgx/crl.rs
  src/cli/platform/snp/crl.rs
Labels: attestation, backend
