Repository enarx/enarx, pull requests merged in 2022-04, with the labels that each got.

#1485 chore(deps): add workflow to automatically update enarx dependencies
  .github/workflows/cargo-update.yml
Labels: infrastructure

#1665 feat: no more `arch_prctl` syscall
  Cargo.lock
  src/bin/shim-kvm/src/hostcall.rs
  src/bin/shim-sgx/src/handler/mod.rs
  src/bin/wasmldr/Cargo.toml
  src/bin/wasmldr/src/main.rs
  tests/rust_exec_tests/Cargo.toml
  tests/rust_exec_tests/src/cpuid.rs
  tests/rust_exec_tests/src/echo.rs
  tests/rust_exec_tests/src/lib.rs
  tests/rust_exec_tests/src/memory_stress_test.rs
  tests/rust_exec_tests/src/memspike.rs
  tests/rust_exec_tests/src/unix_echo.rs
  tests/sev_attestation/src/main.rs
Labels: wasm, testing

#1682 chore: add bstrie to codeowners
  .github/CODEOWNERS
Labels: infrastructure

#1680 refactor: rename wasmldr to enarx-exec-wasmtime
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/cargo-update.yml
  .github/workflows/lint.yml
  .github/workflows/sbom_manifest_check.yml
  .github/workflows/test.yml
  .github/workflows/toolchain-update-test.yml
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  flake.nix
  src/backend/sev/data.rs
  src/bin/exec-wasmtime/Cargo.toml
  src/bin/exec-wasmtime/LICENSE
  src/bin/exec-wasmtime/README.md
  src/bin/exec-wasmtime/deny.toml
  src/bin/exec-wasmtime/src/config.rs
  src/bin/exec-wasmtime/src/loader/acquired.rs
  src/bin/exec-wasmtime/src/loader/attested.rs
  src/bin/exec-wasmtime/src/loader/compiled/mod.rs
  src/bin/exec-wasmtime/src/loader/compiled/null.rs
  src/bin/exec-wasmtime/src/loader/compiled/tls.rs
  src/bin/exec-wasmtime/src/loader/configured/mod.rs
  src/bin/exec-wasmtime/src/loader/configured/platform.rs
  src/bin/exec-wasmtime/src/loader/connected.rs
  src/bin/exec-wasmtime/src/loader/mod.rs
  src/bin/exec-wasmtime/src/loader/pki.rs
  src/bin/exec-wasmtime/src/loader/requested.rs
  src/bin/exec-wasmtime/src/main.rs
  src/bin/shim-kvm/README.md
  src/bin/shim-kvm/src/exec.rs
  src/bin/shim-sgx/src/entry.rs
  src/bin/wasmldr/README.md
  src/main.rs
  src/workldr/exec_wasmtime/mod.rs
  src/workldr/mod.rs
Labels: infrastructure, amd sev, wasm, backend

#1677 refactor(workflow): fix update workflows to work with binary dependencies
  .github/workflows/cargo-update.yml
  .github/workflows/rust-toolchain-update.yml
  .github/workflows/toolchain-update-test.yml
  helper/bump-toolchain-nix.sh
  helper/bump-toolchain.sh
Labels: infrastructure

#1686 chore: bump sallyport to 0.4
  Cargo.lock
  Cargo.toml
  src/bin/shim-kvm/Cargo.toml
  src/bin/shim-sgx/Cargo.toml
  tests/sev_attestation/Cargo.toml
Labels: intel sgx, amd sev, testing, kvm

#1688 fix(shim): add description to Cargo.toml
  src/bin/shim-kvm/Cargo.toml
  src/bin/shim-sgx/Cargo.toml
Labels: intel sgx, amd sev, kvm

#1692 chore(release): release v0.4.0
  Cargo.lock
  Cargo.toml
  src/bin/exec-wasmtime/Cargo.toml
  src/bin/shim-kvm/Cargo.toml
  src/bin/shim-sgx/Cargo.toml
Labels: intel sgx, amd sev, wasm, kvm

#1693 chore: simplify test `Cargo.toml` with `src/bin`
  tests/rust_exec_tests/Cargo.toml
  tests/rust_exec_tests/src/bin/cpuid.rs
  tests/rust_exec_tests/src/bin/echo.rs
  tests/rust_exec_tests/src/bin/memory_stress_test.rs
  tests/rust_exec_tests/src/bin/memspike.rs
  tests/rust_exec_tests/src/bin/unix_echo.rs
  tests/wasm/wasm_rust_tests/Cargo.toml
  tests/wasm/wasm_rust_tests/src/bin/check_fd.rs
  tests/wasm/wasm_rust_tests/src/bin/echo.rs
  tests/wasm/wasm_rust_tests/src/bin/memory_stress_test.rs
  tests/wasm/wasm_rust_tests/src/bin/memspike.rs
  tests/wasm/wasm_rust_tests/src/bin/zerooneone.rs
Labels: wasm, testing

#1690 feat: replace C integration tests
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  build.rs
  tests/c-tests/bind.c
  tests/c-tests/clock_gettime.c
  tests/c-tests/close.c
  tests/c-tests/enarx.h
  tests/c-tests/exit_one.c
  tests/c-tests/exit_zero.c
  tests/c-tests/get_att.c
  tests/c-tests/getegid.c
  tests/c-tests/geteuid.c
  tests/c-tests/getgid.c
  tests/c-tests/getuid.c
  tests/c-tests/libc.h
  tests/c-tests/listen.c
  tests/c-tests/read.c
  tests/c-tests/read_udp.c
  tests/c-tests/readv.c
  tests/c-tests/sgx_get_att_quote.c
  tests/c-tests/sgx_get_att_quote_size.c
  tests/c-tests/socket.c
  tests/c-tests/uname.c
  tests/c-tests/write_emsgsize.c
  tests/c-tests/write_stderr.c
  tests/c-tests/write_stdout.c
  tests/rust_syscall_tests/Cargo.toml
  tests/rust_syscall_tests/build.rs
  tests/rust_syscall_tests/src/bin/bind.rs
  tests/rust_syscall_tests/src/bin/clock_gettime.rs
  tests/rust_syscall_tests/src/bin/close.rs
  tests/rust_syscall_tests/src/bin/exit_one.rs
  tests/rust_syscall_tests/src/bin/exit_zero.rs
  tests/rust_syscall_tests/src/bin/get_att.rs
  tests/rust_syscall_tests/src/bin/getegid.rs
  tests/rust_syscall_tests/src/bin/geteuid.rs
  tests/rust_syscall_tests/src/bin/getgid.rs
  tests/rust_syscall_tests/src/bin/getuid.rs
  tests/rust_syscall_tests/src/bin/listen.rs
  tests/rust_syscall_tests/src/bin/read.rs
  tests/rust_syscall_tests/src/bin/read_udp.rs
  tests/rust_syscall_tests/src/bin/readv.rs
  tests/rust_syscall_tests/src/bin/sgx_get_att_quote.rs
  tests/rust_syscall_tests/src/bin/socket.rs
  tests/rust_syscall_tests/src/bin/uname.rs
  tests/rust_syscall_tests/src/bin/write_emsgsize.rs
  tests/rust_syscall_tests/src/bin/write_stderr.rs
  tests/rust_syscall_tests/src/bin/write_stdout.rs
  tests/rust_syscall_tests/src/lib.rs
  tests/syscall_tests.rs
Labels: infrastructure, testing

#1709 chore: remove unused dependencies from all crates
  Cargo.lock
  Cargo.toml
  crates/sallyport/Cargo.toml
  src/bin/exec-wasmtime/Cargo.toml
  src/bin/shim-kvm/Cargo.toml
  src/bin/shim-sgx/Cargo.toml
Labels: intel sgx, amd sev, wasm, kvm, sallyport

#1702 ci: add coverage
  .github/workflows/coverage.yml
Labels: infrastructure

#1719 chore: fix links and style in toml files
  Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/sallyport/README.md
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  examples/tcp_server/Cargo.toml
  tests/rust_exec_tests/Cargo.toml
  tests/rust_syscall_tests/Cargo.toml
  tests/sev_attestation/Cargo.toml
  tests/wasm/wasm_rust_tests/Cargo.toml
Labels: intel sgx, amd sev, wasm, testing, kvm, sallyport

#1721 ci: switch using codecov for coverage
  .github/workflows/coverage.yml
Labels: infrastructure

#1720 docs: overhaul readme badges and remove cargo-readme action
  .github/workflows/lint.yml
  Cargo.toml
  README.md
  README.tpl
  crates/exec-wasmtime/src/main.rs
  crates/sallyport/src/lib.rs
  src/main.rs
Labels: infrastructure, wasm, sallyport

#1744 ci: add codecov.yml
  .codecov.yml
  .github/workflows/coverage.yml
Labels: infrastructure

#1752 refactor: switch from openssl to rcrypto
  BUILD.md
  Cargo.lock
  Cargo.toml
  flake.nix
  src/backend/sgx/builder.rs
  src/backend/sgx/hasher.rs
Labels: intel sgx, backend

#1745 fix(exec-wasmtime): handle EPERM for get_att() syscall
  .github/workflows/coverage.yml
  crates/exec-wasmtime/src/loader/configured/platform.rs
Labels: infrastructure, wasm

#1781 feat(sgx): display full exception information
  src/backend/sgx/thread.rs
Labels: intel sgx, backend

#1788 fix: propagate features to bindeps
  Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/shim-kvm/Cargo.toml
Labels: amd sev, wasm, kvm

#1795 docs(versioned): add versioned documentation
  docs/Install.md
Labels: documentation

#1792 test(docs): add script to test markdown documentation
  .github/workflows/test-docs.yml
  helper/md-test.sh
Labels: documentation, infrastructure

#1802 feat: rename `workldr` to `exec`
  src/backend/nil.rs
  src/cli/mod.rs
  src/cli/run.rs
  src/exec/exec_wasmtime/mod.rs
  src/exec/mod.rs
  src/main.rs
  src/workldr/mod.rs
Labels: client, backend

#1804 fix: make a lot of crates optional
  Cargo.toml
  build.rs
  src/backend/binary.rs
  src/backend/mod.rs
  src/main.rs
Labels: backend
