Repository enarx/enarx, pull requests merged in 2022-06, with the labels that each got.

#1936 ci(gha): disable jobs for M1 Darwin
  .github/workflows/release.yml
Labels: infrastructure

#1943 refactor: reduce crate feature surface area
  Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
Labels: intel sgx, amd sev, kvm, sallyport

#1948 ci: reenable mac and enable aarch64 builds
  .github/workflows/release.yml
Labels: infrastructure, release

#1946 docs: install documentation update
  docs/Install.md
Labels: documentation, release, nil

#1949 docs: add Quickstart installation guide
  docs/Quickstart.mdx
Labels: documentation

#1972 ci(release): add built assets to release draft
  .github/workflows/release.yml
Labels: infrastructure
