Repository enarx/enarx, pull requests merged in 2022-02, with the labels that each got.

#1283 feat(shim-sgx): enable AVX2 and AVX512 usage in the enclave
  internal/shim-sgx/src/lib.rs
Labels: intel sgx

#1305 Display system info using `uname` in `enarx info`.
  src/backend/kvm/mod.rs
  src/backend/probe/common.rs
  src/backend/probe/mod.rs
  src/backend/sev/mod.rs
  src/backend/sgx/mod.rs
Labels: enhancement, client

#1310 Fix `cargo doc` warnings.
  README.md
  src/backend/sgx/ioctls.rs
  src/cli/exec.rs
  src/main.rs
Labels: enhancement, triage

#1365 Update xsave to 2.0.2
  Cargo.lock
  internal/shim-sev/Cargo.lock
  internal/shim-sev/Cargo.toml
  internal/shim-sgx/Cargo.lock
  internal/shim-sgx/Cargo.toml
Labels: dependencies

#1366 Remove `Cargo.lock` from `.gitignore`
  .gitignore
Labels: bug
