Repository enarx/enarx, pull requests merged in 2022-05, with the labels that each got.

#1809 fix: use `core::ffi` for `std::ffi::c_*`
  crates/sallyport/tests/integration_tests/syscall.rs
  tests/rust_exec_tests/src/lib.rs
Labels: testing, sallyport

#1810 chore(deps): bump dependency versions
  Cargo.lock
  examples/tcp_server/Cargo.toml
Labels: dependencies

#1811 fix: use `core::ffi` for `std::ffi::c_*`
  crates/exec-wasmtime-bin/src/main.rs
  tests/sev_attestation/src/main.rs
Labels: testing

#1808 chore(deps): bump toolchain to 2022-05-03
  .github/workflows/sbom_manifest_action.yml
  docs/Install.md
  rust-toolchain.toml
Labels: infrastructure, dependencies

#1819 build(deps): update rcrt1 requirement from 1.0.0 to 2.2.0
  Cargo.lock
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  tests/rust_syscall_tests/Cargo.toml
Labels: intel sgx, amd sev, testing, kvm

#1834 fix(exec-wasmtime): rename `x509::` to `x509_cert::`
  crates/exec-wasmtime/Cargo.toml
  crates/exec-wasmtime/src/loader/configured/mod.rs
  crates/exec-wasmtime/src/loader/pki.rs
  crates/exec-wasmtime/src/loader/requested.rs
Labels: wasm

#1833 build(deps): remove sallyport version from internal tests
  Cargo.lock
  tests/rust_syscall_tests/Cargo.toml
  tests/sev_attestation/Cargo.toml
Labels: testing

#1823 feat(rust_syscall_tests): use the `rcrt1::x86_64_linux_startup!` macro
  Cargo.lock
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  tests/rust_syscall_tests/Cargo.toml
  tests/rust_syscall_tests/src/io.rs
  tests/rust_syscall_tests/src/lib.rs
  tests/rust_syscall_tests/src/macros.rs
Labels: intel sgx, amd sev, testing, kvm

#1835 docs(revert): revert toolchain to nightly-2022-04-11 for 0.4.0 release
  docs/Install.md
Labels: bug, documentation

#1839 refactor(tests): reorganize integration tests
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  crates/sallyport/tests/enarxcall/mod.rs
  crates/sallyport/tests/gdbcall/mod.rs
  crates/sallyport/tests/integration.rs
  crates/sallyport/tests/mod.rs
  crates/sallyport/tests/syscall/mod.rs
  tests/enarx_exec_tests.rs
  tests/enarx_syscall_tests.rs
  tests/enarx_wasm_tests.rs
  tests/exec/mod.rs
  tests/integration.rs
  tests/syscall/mod.rs
  tests/wasm/mod.rs
Labels: infrastructure, wasm, testing, sallyport

#1845 chore(deps): update code to use sgx 0.5 and mmledger 0.3 crates
  Cargo.lock
  Cargo.toml
  crates/shim-sgx/Cargo.toml
Labels: intel sgx, dependencies

#1843 chore(release): add release script
  helper/release_enarx.sh
Labels: infrastructure, release

#1863 refactor: remove unused Cargo config and rust-toolchain files
  examples/tcp_server/.cargo/config
  examples/tcp_server/rust-toolchain.toml
  tests/crates/enarx_exec_tests/.cargo/config
  tests/crates/enarx_exec_tests/rust-toolchain.toml
  tests/crates/enarx_wasm_tests/.cargo/config
  tests/crates/enarx_wasm_tests/rust-toolchain.toml
  tests/crates/sev_attestation/.cargo/config
  tests/crates/sev_attestation/rust-toolchain.toml
Labels: wasm, testing

#1861 test: enforce maximum shim size in release tests
  src/backend/kvm/mod.rs
  src/backend/sgx/mod.rs
  src/exec/exec_wasmtime/mod.rs
Labels: intel sgx, backend, kvm

#1844 docs(release): update docs prior to 0.5 Release
  .github/workflows/test-docs.yml
  docs/Install.md
Labels: documentation, infrastructure, release

#1847 feat: no more backend features
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  build.rs
  crates/exec-wasmtime-bin/Cargo.toml
  crates/exec-wasmtime-bin/LICENSE
  crates/exec-wasmtime-bin/deny.toml
  crates/exec-wasmtime/README.md
  crates/exec-wasmtime/src/main.rs
  src/backend/mod.rs
  src/cli/mod.rs
  src/exec/exec_wasmtime/mod.rs
  src/exec/mod.rs
  src/main.rs
  tests/exec/mod.rs
  tests/integration.rs
  tests/syscall/mod.rs
Labels: infrastructure, wasm, client, testing, backend

#1867 test: trim the testing matrix
  tests/wasm/mod.rs
Labels: testing

#1880 ci(nix): enable caching
  .github/workflows/test.yml
Labels: infrastructure

#1884 fix(shim-kvm): revert support old CPUs
  crates/shim-kvm/src/exec.rs
  crates/shim-kvm/src/gdt.rs
  crates/shim-kvm/src/hostcall.rs
  crates/shim-kvm/src/main.rs
  crates/shim-kvm/src/random.rs
  src/backend/kvm/data.rs
Labels: amd sev, backend, kvm

#1885 fix: display `uname` system info only once
  src/backend/kvm/mod.rs
  src/backend/probe/common.rs
  src/backend/probe/mod.rs
  src/backend/sev/mod.rs
  src/backend/sgx/mod.rs
  src/cli/info.rs
Labels: intel sgx, amd sev, client, backend, kvm

#1896 feat: add ignore message
  src/backend/kvm/mod.rs
  src/backend/sgx/attestation.rs
  src/backend/sgx/mod.rs
  tests/exec/mod.rs
  tests/syscall/mod.rs
Labels: intel sgx, testing, backend, kvm

#1900 ci: use codecov-action v3
  .github/workflows/coverage.yml
Labels: infrastructure

#1901 chore(shim-kvm): mark coverage regions to exclude
  crates/shim-kvm/src/debug.rs
  crates/shim-kvm/src/gdt.rs
  crates/shim-kvm/src/interrupts.rs
  crates/shim-kvm/src/lib.rs
  crates/shim-kvm/src/main.rs
  crates/shim-kvm/src/snp/ghcb.rs
  crates/shim-kvm/src/snp/mod.rs
  crates/shim-kvm/src/sse.rs
  crates/shim-kvm/src/syscall.rs
  crates/shim-kvm/src/usermode.rs
Labels: amd sev, kvm

#1913 ci: update code coverage tool
  .github/workflows/coverage.yml
Labels: infrastructure

#1915 refactor(test): remove exec-wasmtime-bin and refactor code
  helper/release_enarx.sh
Labels: documentation, infrastructure, release

#1919 ci: specify x64 runners for CI jobs
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Labels: infrastructure

#1921 build(release): prune duplicate binaries and tests for macos
  .github/workflows/release.yml
Labels: infrastructure, release

#1922 chore(release): release v0.5.1
  Cargo.lock
  Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  docs/Install.md
Labels: intel sgx, amd sev, wasm, kvm, sallyport, release

#1923 ci(coverage): use published coverage tool and update coverage exclusions
  .github/workflows/coverage.yml
  crates/shim-kvm/src/debug.rs
  crates/shim-kvm/src/gdt.rs
  crates/shim-kvm/src/interrupts.rs
  crates/shim-kvm/src/lib.rs
  crates/shim-kvm/src/main.rs
  crates/shim-kvm/src/snp/ghcb.rs
  crates/shim-kvm/src/snp/mod.rs
  crates/shim-kvm/src/sse.rs
  crates/shim-kvm/src/syscall.rs
  crates/shim-kvm/src/usermode.rs
Labels: infrastructure, amd sev, kvm
