Repository enarx/enarx, pull requests merged in 2022-10, with the labels that each got.

#2257 ci: update commisery-action
  .github/workflows/commisery.yml
Labels: infrastructure

#2256 build: upgrade clap to 4.0
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
  src/drawbridge.rs
Labels: client

#2254 test: parse JSON in CLI tests and refactor
  tests/client/data/bad_dir/bad_file
  tests/client/mod.rs
  tests/client/util.rs
Labels: testing

#2278 chore: remove apt call on self-hosted runners
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Labels: infrastructure

#2259 build: use workspace inheritance for dependencies
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
Labels: intel sgx, amd sev, wasm, kvm, sallyport, config

#2286 ci(update): set constant commit message and PR title
  .github/workflows/update.yml
Labels: infrastructure

#2285 ci(dependabot): update github actions
  .github/dependabot.yml
Labels: infrastructure

#2290 build: push to GitHub Packages
  .github/workflows/release.yml
Labels: infrastructure
