Repository enarx/enarx, pull requests merged in 2022-11, with the labels that each got.

#2303 build: bump Rust toolchain to 2022-11-04
  .github/workflows/coverage.yml
  .github/workflows/sbom_manifest_action.yml
  .github/workflows/test.yml
  crates/exec-wasmtime/src/runtime/net/tls.rs
  crates/sallyport/src/guest/handler.rs
  crates/shim-kvm/src/lib.rs
  crates/shim-kvm/src/main.rs
  crates/shim-kvm/src/paging.rs
  crates/shim-sgx/src/handler/mod.rs
  crates/shim-sgx/src/main.rs
  rust-toolchain.toml
  src/backend/kvm/thread.rs
  src/backend/mod.rs
  src/backend/sev/snp/launch/linux.rs
  src/cli/unstable/exec.rs
  tests/crates/enarx_syscall_tests/src/bin/bind.rs
  tests/crates/enarx_syscall_tests/src/bin/clock_gettime.rs
  tests/crates/enarx_syscall_tests/src/bin/close.rs
  tests/crates/enarx_syscall_tests/src/bin/exit_one.rs
  tests/crates/enarx_syscall_tests/src/bin/exit_zero.rs
  tests/crates/enarx_syscall_tests/src/bin/get_att.rs
  tests/crates/enarx_syscall_tests/src/bin/getegid.rs
  tests/crates/enarx_syscall_tests/src/bin/geteuid.rs
  tests/crates/enarx_syscall_tests/src/bin/getgid.rs
  tests/crates/enarx_syscall_tests/src/bin/getuid.rs
  tests/crates/enarx_syscall_tests/src/bin/listen.rs
  tests/crates/enarx_syscall_tests/src/bin/read.rs
  tests/crates/enarx_syscall_tests/src/bin/read_udp.rs
  tests/crates/enarx_syscall_tests/src/bin/readv.rs
  tests/crates/enarx_syscall_tests/src/bin/sgx_get_att_quote.rs
  tests/crates/enarx_syscall_tests/src/bin/socket.rs
  tests/crates/enarx_syscall_tests/src/bin/uname.rs
  tests/crates/enarx_syscall_tests/src/bin/write_emsgsize.rs
  tests/crates/enarx_syscall_tests/src/bin/write_stderr.rs
  tests/crates/enarx_syscall_tests/src/bin/write_stdout.rs
Labels: intel sgx, infrastructure, amd sev, wasm, client, testing, backend, kvm, sallyport

#2291 build: sign with community key only for main branch
  .github/workflows/release.yml
Labels: infrastructure

#2311 feat(drawbridge): specify OIDC scopes and audience
  src/cli/user/login.rs
  src/cli/user/register.rs
  src/drawbridge.rs
Labels: client

#2315 test: fix tests when RUST_BACKTRACE is set
  tests/client/util.rs
Labels: testing

#2313 fix: correct main ref name for sign
  .github/workflows/release.yml
Labels: infrastructure

#2346 chore: add standardized codeowners
  .github/CODEOWNERS
Labels: infrastructure

#2343 ci: remove redundant dependabot directives
  .github/dependabot.yml
Labels: infrastructure

#2349 test: parse CLI properly in integration test
  Cargo.lock
  Cargo.toml
  tests/client/util.rs
Labels: testing

#2351 ci: update workflows to environment files
  .github/workflows/cargo-update.yml
  .github/workflows/release.yml
  .github/workflows/rust-toolchain-update.yml
Labels: infrastructure

#2357 fix(exec-wasmtime): prevent workload FD from being dropped
  crates/exec-wasmtime/src/lib.rs
Labels: wasm

#2356 feat(drawbridge): add client secrets login
  src/cli/package/info.rs
  src/cli/package/publish.rs
  src/cli/repo/info.rs
  src/cli/repo/register.rs
  src/cli/user/info.rs
  src/cli/user/login.rs
  src/cli/user/mod.rs
  src/cli/user/register.rs
  src/drawbridge.rs
Labels: client

#2366 feat(sgx): complete the TCS page struct and add the flags
  Cargo.lock
  crates/shim-sgx/Cargo.toml
  crates/shim-sgx/src/thread.rs
Labels: intel sgx
