Repository enarx/enarx, pull requests merged in 2023-01, with the labels that each got.

#2438 refactor: remove `-v` argument
  src/cli/mod.rs
Labels: client

#2428 feat: snp backend sends CRL for attestation
  Cargo.lock
  src/backend/sev/data.rs
  src/backend/sev/mod.rs
  src/backend/sev/snp/vcek.rs
  tests/crates/enarx_exec_tests/Cargo.toml
  tests/crates/enarx_exec_tests/src/bin/sev_attestation.rs
Labels: amd sev, attestation, testing, backend

#2452 ci(nix-update): inherit secrets
  .github/workflows/nix-update.yml
Labels: infrastructure

#2456 chore: add shared workflow for automatic pr merge
  .github/workflows/automerge.yml
Labels: infrastructure

#2454 feat: introduce `dbg` feature for `exec-wasmtime`
  Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/exec-wasmtime/src/lib.rs
  src/cli/mod.rs
Labels: wasm, client

#2457 test: fix client/full test
  tests/client/util.rs
Labels: testing

#2447 feat: store CRL & originating URL
  src/backend/sev/data.rs
  src/backend/sgx/data.rs
  src/caching.rs
  src/cli/platform/caching.rs
  src/cli/platform/mod.rs
  src/cli/platform/sgx/crl.rs
  src/cli/platform/snp/crl.rs
  src/main.rs
  tests/crates/enarx_exec_tests/src/bin/sev_attestation.rs
  tests/crates/enarx_exec_tests/src/bin/sgx_attestation.rs
  tests/crates/enarx_exec_tests/src/lib.rs
Labels: intel sgx, amd sev, client, attestation, testing, backend

#2464 chore(release): release v0.7.0
  Cargo.lock
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  docs/Quickstart.mdx
Labels: intel sgx, amd sev, wasm, kvm, sallyport, release, config

#2465 build: bump softprops/action-gh-release workflow version
  .github/workflows/release.yml
Labels: infrastructure

#2466 build: restore softprops/action-gh-release workflow version and set permissions
  .github/workflows/release.yml
Labels: infrastructure

#2467 fix(ci): rename the deb files before uploading
  .github/workflows/release.yml
Labels: infrastructure

#2460 feat: factor out cpuidpage to a shared crate
  .codecov.yml
  Cargo.lock
  Cargo.toml
  crates/shared/Cargo.toml
  crates/shared/src/lib.rs
  crates/shared/src/no_std/cpuid_page.rs
  crates/shared/src/no_std/mod.rs
  crates/shared/src/std/cpuid_page.rs
  crates/shared/src/std/mod.rs
  crates/shim-kvm/Cargo.toml
  crates/shim-kvm/src/lib.rs
  crates/shim-kvm/src/snp/cpuid_page.rs
  src/backend/sev/builder.rs
  src/backend/sev/cpuid_page.rs
Labels: amd sev, backend, kvm

#2469 fix: set nonblocking on TCP
  crates/exec-wasmtime/src/runtime/net/mod.rs
Labels: wasm

#2472 fix: bring release helper script up to date
  helper/release_enarx.sh
Labels: infrastructure

#2475 chore(release): release v0.7.1
  Cargo.lock
  Cargo.toml
  crates/enarx-config/Cargo.toml
  crates/exec-wasmtime/Cargo.toml
  crates/sallyport/Cargo.toml
  crates/shared/Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-sgx/Cargo.toml
  docs/Quickstart.mdx
Labels: intel sgx, amd sev, wasm, kvm, sallyport, release, config

#2476 test: fix wasm::listen_tcp
  tests/crates/enarx_wasm_tests/src/bin/listen.rs
Labels: wasm, testing

#2473 chore: use atomic rename for CRLs
  src/cli/platform/sgx/crl.rs
  src/cli/platform/snp/crl.rs
Labels: client, attestation

#2489 feat(shim-kvm): move consts to lib.rs
  crates/shim-kvm/src/exec.rs
  crates/shim-kvm/src/gdt.rs
  crates/shim-kvm/src/lib.rs
Labels: amd sev, kvm

#2488 fix(shim-kvm): protect against interrupt injection
  crates/shim-kvm/src/interrupts.rs
  src/backend/sev/builder.rs
  src/backend/sev/snp/launch/linux.rs
  src/backend/sev/snp/launch/mod.rs
Labels: amd sev, backend, kvm

#2497 feat(exec-wasmtime): annotate identity generation errors
  crates/exec-wasmtime/src/runtime/identity/mod.rs
  crates/exec-wasmtime/src/runtime/mod.rs
Labels: wasm

#2496 fix: remove the unneeded flow
  .github/workflows/dependabot.yml
Labels: infrastructure

#2498 fix(shim-kvm): add TranslateFrom trait
  crates/shim-kvm/src/addr.rs
  crates/shim-kvm/src/exec.rs
  crates/shim-kvm/src/paging.rs
Labels: amd sev, kvm

#2434 feat: cache & send Intel TCB report during attestation
  Cargo.lock
  Cargo.toml
  src/backend/sgx/attestation.rs
  src/backend/sgx/data.rs
  src/backend/sgx/mod.rs
  src/cli/platform/sgx/mod.rs
  src/cli/platform/sgx/tcb.rs
  tests/crates/enarx_exec_tests/src/bin/sgx_attestation.rs
Labels: intel sgx, client, attestation, testing, backend

#2504 feat(shim-kvm): cleanup print macros
  Cargo.lock
  Cargo.toml
  crates/shim-kvm/Cargo.toml
  crates/shim-kvm/src/debug.rs
  crates/shim-kvm/src/gdb.rs
  crates/shim-kvm/src/gdt.rs
  crates/shim-kvm/src/hostcall.rs
  crates/shim-kvm/src/interrupts.rs
  crates/shim-kvm/src/lib.rs
  crates/shim-kvm/src/start.rs
  crates/shim-kvm/src/stdio.rs
  crates/shim-kvm/src/syscall.rs
Labels: amd sev, kvm

#2505 feat(shim-kvm): order lock of the page table and allocator
  crates/shim-kvm/src/allocator.rs
  crates/shim-kvm/src/exec.rs
  crates/shim-kvm/src/hostcall.rs
  crates/shim-kvm/src/shim_stack.rs
  crates/shim-kvm/src/start.rs
Labels: amd sev, kvm

#2510 test: remove wasi_ext feature
  tests/crates/enarx_wasm_tests/src/bin/connect.rs
  tests/crates/enarx_wasm_tests/src/bin/listen.rs
Labels: wasm, testing

#2511 feat(shim-kvm): remove exception stacks
  crates/shim-kvm/src/gdt.rs
  crates/shim-kvm/src/interrupts.rs
Labels: amd sev, kvm

#2514 chore(shim-kvm): remove remenants of exception stacks
  crates/shim-kvm/src/lib.rs
  crates/shim-kvm/src/start.rs
Labels: amd sev, kvm

#2515 fix(shim-kvm): pagetables fixups
  crates/shim-kvm/src/pagetables.rs
Labels: amd sev, kvm

#2516 fix(shim-kvm): no random exec addresses in `dbg`
  crates/shim-kvm/src/exec.rs
Labels: amd sev, kvm

#2480 feat(cli): Regularize enarx cpu info output
  Cargo.lock
  src/backend/mod.rs
  src/cli/platform/info.rs
Labels: client, backend

#2513 feat(shim-kvm): introduce thread control block Tcb
  crates/shim-kvm/src/allocator.rs
  crates/shim-kvm/src/gdb.rs
  crates/shim-kvm/src/gdt.rs
  crates/shim-kvm/src/hostcall.rs
  crates/shim-kvm/src/lib.rs
  crates/shim-kvm/src/syscall.rs
  crates/shim-kvm/src/thread.rs
Labels: amd sev, kvm

#2503 feat: improve CLI usability relating to cache updating
  src/backend/mod.rs
  src/backend/sev/data.rs
  src/backend/sgx/data.rs
  src/caching.rs
  src/cli/mod.rs
  src/cli/platform/mod.rs
  src/cli/platform/sgx/crl.rs
  src/cli/platform/sgx/mod.rs
  src/cli/platform/sgx/register.rs
  src/cli/platform/sgx/tcb.rs
  src/cli/platform/snp/crl.rs
  src/cli/platform/snp/mod.rs
  src/cli/platform/snp/update.rs
Labels: intel sgx, amd sev, client, backend, ux

#2507 build: bump Rust toolchain to 2023-01-27
  .cargo/config
  .github/workflows/coverage.yml
  .github/workflows/sbom_manifest_action.yml
  .github/workflows/test.yml
  rust-toolchain.toml
Labels: infrastructure

#2508 chore: add shared commisery workflow
  .github/workflows/commisery.yml
Labels: infrastructure
